# Show function definition, basics of circuit manipulation.
# Also shows basic branching.

def net(net_name):
    return create component:
        pins: 1
        display: "net"
        params:
            __is_net: 1
            net_name: net_name
            priority: 5

def res(value):
    return create component:
        pins: 2
        display: "res"
        params:
            value: value

V5V = net("5V")
at V5V pin 1 
wire down 20 right 20

add R1 = res(10k)
wire right 20

branch:
    wire down 20
    add R2 = res(30k) [angle = 90]
    wire down 20

    to gnd

branch:
    wire right 60 
    
    branch:
        wire down 20
        add R3 = res(30k) [angle = 90]
        wire down 20
        to gnd

    wire right 60 down 20
    add R4 = res(10k) [angle=90]
    wire down 20
    to gnd
