# Shows branching within branching

def res(value):
    return create component:
        pins: 2
        params:
            value: value

add res(10k)
branch:
    add res(20k)
    add res(30k)

    branch:
        add R4 = res(10k)
        add R5 = res(10k)

    branch:
        add R6 = res(20k)
        add R7 = res(20k)

    add res(10k)
branch:
    add res(10k)

to gnd