# Shows branching within branching

def res(value):
    return create component:
        pins: 2
        params:
            value: value

add R1 = res(0)
branch:
    add R2 = res(0)
    add R3 = res(0)

    branch:
        add R4 = res(0)
        add R5 = res(0)

    branch:
        add R6 = res(0)
        add R7 = res(0)

    add res(0)
branch:
    add res(0)

to gnd