# This example demonstrates named pins

def I2C_chip():
    return create component:
        pins: 
            1: power, "VCC", "3V3"
            2: power, "GND"
            3: input, "I2C_SCL", "IO1", "XTAL1"
            4: io,    "I2C_SDA", "IO2", "XTAL2"
        arrange:
            left: 1, 2
            right: 3, 4

def net(net_name):
    return create component:
        pins: 1
        display: "net"
        params:
            __is_net: 1
            net_name: net_name
            priority: 5

def res(value):
    return create component:
        pins: 2
        display: "res"
        params:
            value: value

def cap(value):
    return create component:
        pins: 2
        display: "cap"
        params:
            value: value

# by default everything goes into the default section
V5V = net("5V")
U1 = I2C_chip()

at V5V to U1 pin "VCC"
at gnd to U1 pin "GND"

at U1:
    #"VCC": to V5V
    #"GND": to gnd
    "IO1": 
        # add I2C_SDA = net("I2C_SDA")
        add res(10k)
        to gnd
    "I2C_SCL": nc

at V5V add cap("100n") to gnd

