# This example demonstrates named pins

def I2C_chip():
    return create component:
        pins: 
            1: power, "VCC", "3V3"
            2: power, "GND"
            3: input, "I2C_SCL", "IO1", "XTAL1"
            4: io,    "I2C_SDA", "IO2", "XTAL2"
        arrange:
            left: 1,2
            right: 3,4

def net(net_name):
    return create component:
        pins: 1
        display: "net"
        params:
            __is_net: 1
            net_name: net_name
            priority: 5

def res(value):
    return create component:
        pins: 2
        display: "res"
        params:
            value: value

def cap(value):
    return create component:
        pins: 2
        display: "cap"
        params:
            value: value

# by default everything goes into the default section
V5V = net("3V3")
U1 = I2C_chip()

at V5V pin 1
wire down 20 
branch:
    wire right 100
    to U1 pin "VCC"

wire down 10
add cap(10n)
wire down 10
to gnd

at U1 pin "GND"
wire left 20 down 40
to gnd

at U1 pin "I2C_SCL"
wire right 50

branch:
    wire up 10
    add res(5k) [angle = -90]
    wire up 10
    to net("3V3")

wire right 100

at U1 pin "I2C_SDA"
wire right 100 

branch:
    wire up 30
    add res(5k) [angle = -90]

    wire up 10
    to net("3V3")

wire right 50