# This example demonstrates named pins

def I2C_chip():
    return create component:
        pins: 
            1: power, "VCC", "3V3"
            2: power, "GND"
            3: input, "I2C_SCL", "IO1", "XTAL1"
            4: io,    "I2C_SDA", "IO2", "XTAL2"
        arrange:
            left: 1,2
            right: 3,4

def net(net_name):
    return create component:
        pins: 1
        display: "net"
        params:
            __is_net: 1
            net_name: net_name
            priority: 5

def res(value):
    return create component:
        pins: 2
        display: "res"
        params:
            value: value

def cap(value):
    return create component:
        pins: 2
        display: "cap"
        params:
            value: value

# by default everything goes into the default section
V5V = net("5V")
U1 = I2C_chip()

at V5V pin 1
wire down 100 right 50
to U1 pin 1

at U1 pin 2
wire left 50 down 100
to gnd

#at net("5V")
#wire down 20
#add res(5k)
#wire down 20
#to U1 pin 3

at U1 pin 3
wire right 50 up 10
add res(5k) [angle = -90]

wire up 30 
add net("5V")

at U1 pin 3
wire right 100

at U1 pin 4
wire right 80 up 30
add res(5k) [angle = -90]

wire up 30
add net("5V")

at U1 pin 4
wire right 100