import lib

def decoupling_cap(value):
    wire down 100
    add cap(value)
    wire down 100
    to gnd

def conn1x4():
    return create component:
        pins: 4
        type: "conn"
        arrange:
            left: 1,2,3,4
        params:
            footprint: "Connector_PinHeader_2.54mm:PinHeader_1x04_P2.54mm_Vertical"

def conn1x11():
    return create component:
        pins: 11
        type: "conn"
        arrange:
            left: 1,2,3,4,5,6,7,8,9,10,11
        params:
            footprint: "Connector_PinSocket_2.54mm:PinSocket_1x11_P2.54mm_Vertical"

def conn1x2():
    return create component:
        pins: 2
        type: "conn"
        arrange:
            left: 1,2
        params:
            footprint: "Connector_PinSocket_2.54mm:PinSocket_1x02_P2.54mm_Vertical"

def conn1x5():
    return create component:
        pins: 5
        width: 40
        type: "conn"
        arrange:
            left: 1,2,3,4,5
        params:
            footprint: "Connector_PinHeader_2.54mm:PinHeader_1x05_P2.54mm_Vertical"

def power_conn():
    conn1 = conn1x4()
    at conn1:
        1: 
            wire left 100 up 100
            to v12v
        2:
            wire left 100
            branch:
                wire down 100 right 100
                to conn1 pin 3
            wire left 100 down 100
            to gnd
        4:
            wire down 200 left 100
            to v3v3

    return conn1

def s1a_diode():
    width = 100
    height = 100

    # Diode is drawn horizontally
    #  -|>|-
    return create component:
        pins: 2
        type: "diode"
        display: create graphic (params):
            path: ("M", width/2, -height/2, "L", width/2, height/2,
                   "M", -width/2, -height/2, "L", -width/2, height/2,
                   "L", width/2, 0, "L", -width/2, -height/2)
            pin: 1, -width/2-100, 0, -width/2, 0     # anode
            pin: 2, width/2 + 100, 0, width/2, 0     # cathode
            label: params.refdes, width/2 + 50, 25, fontSize=50, anchor="left", vanchor="top"
        params:
            footprint: "GardenRelay:S1A"


def tmp_label(name):
    wire left 300
    add label(name)

def tmp_label_right(name):
    wire right 100
    add label(name) 
    wire right 200

def tps54227_block(inductor_component, upper_fb_resistor, lower_fb_resistor, 
    enable_label, output_label, inductor_footprint, place=true):

    # the 3v3 supply
    tps54227 = create component:
        pins:
            1: input, "EN"
            2: input, "VFB"
            3: input, "VREGS"
            4: input, "SS"
            5: "GND"
            6: power, "SW"
            7: power, "SW2"
            8: any, "VBST"
            9: power, "VIN"
            10: power, "VIN2"
            11: any, "PwPd"
        type: "ic"
        arrange:
            left: 9, 10, 1, 3, 4
            right: 8, 6, 7, 2, 5, 11
        params:
            footprint: "GardenRelay:VSON-10-1EP_3x3mm_P0.5mm_EP1.65x2.4mm_ThermalVias"

    frame:
        ..title = "12V to " + output_label + " DCDC converter"

        at tps54227:
            1:
                point:
                    at v12v
                    wire right 100
                    add res(10k)
                    wire right 100
                    add label(enable_label)
                    wire right 300
                    to point

            9:
                point:
                    at v12v
                    wire down 100
                    
                    for i in range(0, 3):
                        branch:
                            decoupling_cap(100n, true)
                        wire right 300

                    wire down 500 right 300

                    branch:
                        wire right 100
                        to point
                    wire down 100 right 100
                    to tps54227 pin 10

            3: 
                wire left 400 down 100
                decoupling_cap(1u)

            4:
                wire left 100
                decoupling_cap(3300p)
            
            5: 
                wire right 100 down 100
                branch:
                    wire left 100
                    to tps54227 pin 11
                wire down 300
                to gnd

            6:
                wire right 300
                branch:
                    wire down 100
                    wire left 300
                    to tps54227 pin 7

                wire right 200
                add inductor_component
                wire right 100
                branch:
                    wire down 100
                    add res(upper_fb_resistor)
                    wire down 100
                    branch:
                        wire left 200
                        wire auto_
                        to tps54227 pin 2
                    wire down 100
                    point fb_point
                    wire down 100
                    add res(lower_fb_resistor)
                    wire down 100
                    to gnd

                wire right 200
                branch:
                    wire down 100
                    add cap(10p)
                    ..place = false

                    wire auto
                    to fb_point

                for i in range(0, 2):
                    wire right 300
                    branch:
                        decoupling_cap(22u)

                wire right 100 up 100
                to supply(output_label)

            8:
                wire right 100
                add cap(100n)
                ..angle = -90
                wire right 100 down 100
                to tps54227 pin 6

def main():
    barrel_jack = create component:
        pins:
            1: power, "IN"
            2: power, "GND"
        type: "conn"
        arrange:
            right: 1,2
        params:
            footprint: "Connector_BarrelJack:BarrelJack_CUI_PJ-063AH_Horizontal_CircularHoles"

    frame:
        ..title = "Power connectors"
        ..direction = "row"

        at barrel_jack:
            1:
                wire right 100

                for i in range(0, 4):
                    wire right 300
                    branch:
                        decoupling_cap(10u)

                wire right 100
                branch:
                    wire up 100
                    to v12v
                wire right 100

            2:
                wire right 100 down 300
                to gnd

        # create power connectors
        J102 = power_conn()
        J108 = power_conn()

        J104 = conn1x4()

        at J104:
            1:
                wire left 100 up 100
                to supply("5V#")
            2:
                wire left 100
                branch:
                    wire down 100 right 100
                    to J104 pin 3
                    
                wire left 100
                to v5v
            4:
                wire left 100 down 100
                to gnd

    frame:
        ..title = "ESP32 board connector"
        ..direction = "column"

        frame:
            ..direction = "row"
            ..border = 0

            main_conn1 = conn1x11()
            at main_conn1:
                1: tmp_label("ADC1")
                2: tmp_label("ADC2")
                3: tmp_label("GPIO1")
                4: tmp_label("GPIO2")
                5: tmp_label("ADC3")
                6: tmp_label("GPIO3")
                7: tmp_label("ADC4")
                8: tmp_label("GPIO4")
                9: tmp_label("ADC8")
                10:
                    wire left 500 
                    to gnd
                11: tmp_label("ADC7") 

            at conn1x11():
                1: tmp_label_right("GPIO5")
                2:  
                    wire right 500 to gnd
                3: tmp_label_right("GPIO6")
                4: tmp_label_right("GPIO7")
                5: tmp_label_right("GPIO8")
                6: tmp_label_right("GPIO9")
                7: tmp_label_right("GPIO10")
                8: tmp_label_right("ADC5")
                9: tmp_label_right("ADC6")
                10: tmp_label_right("GPIO11")
                11: tmp_label_right("GPIO12")

        frame:
            ..border=0

            at conn1x2():
                1: 
                    wire left 500 
                    to gnd
                2: tmp_label("GPIO13")

            at conn1x2():
                1:
                    wire left 200 up 200
                    add v3v3
                2:
                    wire left 200
                    add label("EN")

            at conn1x4():
                1: tmp_label("GPIO11")
                2: tmp_label("GPIO12")
                3: tmp_label("GPIO13")
                4: 
                    wire left 200
                    to v5v

            at conn1x4():
                1: tmp_label("GPIO10")
                2: tmp_label("GPIO9")
                3:
                    wire left 200
                    to v3v3
                4: 
                    wire left 100 down 100
                    to gnd

    ind_3u3 = ind(3.3u)
    ind_3u3.footprint = "GardenRelay:NR6020T3R3N"

    ind_4u7 = ind(4.7u)
    ind_4u7.footprint = "GardenRelay:NRS8030T4R7MJGJ"

    block1 = tps54227_block(ind_3u3, 73.2k, 22.1k, 
        "EN_3V3", "3V3", "GardenRelay:NR6020T3R3N")
    
    block2 = tps54227_block(ind_4u7, 124k, 22.1k, 
        "EN_5V", "5V#", "GardenRelay:NRS8030T4R7MJGJ")

def mosfet():
    return create component:
        pins: 3
        type: "transistor"
        arrange:
            left: 1
            right: 3,2
        params:
            footprint: "Package_TO_SOT_SMD:SOT-23"

def decoupling_cap(value, place=true):
    branch:
        wire down 100
        add cap(value)
        ..place = place
        wire down 100
        to gnd

def pump_block_module(index):
    enable_name = "GPIO" + index
    sense_out = "ADC" + index

    return create module:
        width: 500
        height: 300
        ports:
            left: "GPIO", "ADC"

        contains:
            relay = create component:
                pins: 5
                type: "relay"
                arrange:
                    left: 2, [1], 5
                    right: 4,3,1
                params:
                    footprint: "GardenRelay:AZ943-1CH-12DEF"

            diff_amp = create component:
                pins: 
                    1: "OUT"
                    2: "V+"
                    3: "+"
                    4: "-"
                    5: "V-"
                type: "ic"
                arrange:
                    left: 3,[1], 4
                    right: 2,1,5
                params:
                    footprint: "Package_TO_SOT_SMD:SOT-23-5"

            frame:
                ..title = "Pump control block (" + enable_name + ")"
                ..direction = "row"
                
                frame:
                    ..title = "Connector"
                    ..border = 0
                    ..padding = 0

                    conn = conn1x5()
                    at conn:
                        1:
                            point:
                                at v12v
                                wire down 100 right 100 to point

                        2:  
                            point:
                                at label("LOAD_SUPPLY")
                                wire right 500 to point
                        3: 
                            wire left 40
                            to v5v
                        4: tmp_label("CONN+")
                        5: tmp_label("CONN-")

                frame:
                    ..title = "Relay control for " + enable_name
                    ..border = 0
                    ..padding = 0

                    at port("GPIO", "input")

                    wire right 200
                    branch:
                        wire down 100
                        add led("RED")
                        wire down 100
                        add res(130)
                        wire down 100 to gnd
                    wire right 200
                    branch:
                        wire down 100
                        add res(1k)
                        wire down 100
                        to gnd

                    wire right 100
                    add Q1 = mosfet()
                    at Q1 pin 2 
                    wire right 100 down 100
                    to gnd

                    at v12v
                    wire down 100
                    branch:
                        wire right 400
                        add relay pin 2
                    wire down 100
                    add s1a_diode() pin 2
                    wire down 100
                    branch:
                        wire right 200
                        wire auto
                        to relay pin 5
                    wire left 200 up 400 left 300
                    to Q1 pin 3

                    at relay:
                        4:
                            wire right 100
                            branch:
                                wire up 300 right 500
                                add label("SENSE+")
                                wire right 300
                            wire right 100
                            add res(0.05)
                            wire right 100
                            branch:
                                wire up 200 right 100
                                add label("SENSE-")
                                wire right 300
                            wire right 100
                            add label("LOAD_SUPPLY")
                            wire right 400
                        1:
                            wire right 100
                            branch:
                                wire right 200
                                add label("CONN+")
                                wire right 200
                            wire down 100
                            add s1a_diode() pin 2
                            wire down 100
                            branch:
                                wire right 200
                                add label("CONN-")
                                wire right 200
                            wire down 100
                            to gnd  

                frame:
                    ..title = "Current sense for "+ sense_out
                    ..border = 0
                    ..padding = 0
                
                    at label("SENSE+")
                    wire right 300 
                    add res(1k)
                    wire right 100
                    point tmp1

                    branch:
                        wire right 200
                        to diff_amp pin 3

                    at diff_amp:
                        2:
                            wire right 100 up 100
                            to v3v3
                        5:
                            wire right 100 down 100
                            to gnd
                        1: 
                            wire right 200
                            branch:
                                wire up 500 left 200
                                add res(20k) pin 2
                                wire auto_
                                to tmp1

                            wire right 100
                            decoupling_cap(100n)
                            wire right 100
                            to port("ADC", "output")

                    at label("SENSE-")
                    wire right 300
                    add res(1k)
                    wire right 100
                    
                    branch:
                        wire right 200
                        to diff_amp pin 4

                    wire down 100
                    add res(20k)
                    wire down 100 left 100
                    to vbias


def pump_block(enable_name, sense_out):
    relay = create component:
        pins: 5
        type: "relay"
        arrange:
            left: 2, [1], 5
            right: 4,3,1
        params:
            footprint: "GardenRelay:AZ943-1CH-12DEF"

    diff_amp = create component:
        pins: 
            1: "OUT"
            2: "V+"
            3: "+"
            4: "-"
            5: "V-"
        type: "ic"
        arrange:
            left: 3,[1], 4
            right: 2,1,5
        params:
            footprint: "Package_TO_SOT_SMD:SOT-23-5"

    frame:
        ..title = "Pump control block (" + enable_name + ")"
        ..direction = "row"
        
        frame:
            ..title = "Connector"
            ..border = 0
            ..padding = 0

            conn = conn1x5()
            at conn:
                1:
                    point:
                        at v12v
                        wire down 100 right 100 to point

                2:  
                    point:
                        at label("LOAD_SUPPLY")
                        wire right 500 to point
                3: 
                    wire left 40
                    to v5v
                4: tmp_label("CONN+")
                5: tmp_label("CONN-")

        frame:
            ..title = "Relay control for " + enable_name
            ..border = 0
            ..padding = 0

            at label(enable_name)
            wire right 200
            branch:
                wire down 100
                add led("RED")
                wire down 100
                add res(130)
                wire down 100 to gnd
            wire right 200
            branch:
                wire down 100
                add res(1k)
                wire down 100
                to gnd

            wire right 100
            add Q1 = mosfet()
            at Q1 pin 2 
            wire right 100 down 100
            to gnd

            at v12v
            wire down 100
            branch:
                wire right 400
                add relay pin 2
            wire down 100
            add s1a_diode() pin 2
            wire down 100
            branch:
                wire right 200
                wire auto
                to relay pin 5
            wire left 200 up 400 left 300
            to Q1 pin 3

            at relay:
                4:
                    wire right 100
                    branch:
                        wire up 300 right 500
                        add label("SENSE+")
                        wire right 300
                    wire right 100
                    add res(0.05)
                    wire right 100
                    branch:
                        wire up 200 right 100
                        add label("SENSE-")
                        wire right 300
                    wire right 100
                    add label("LOAD_SUPPLY")
                    wire right 400
                1:
                    wire right 100
                    branch:
                        wire right 200
                        add label("CONN+")
                        wire right 200
                    wire down 100
                    add s1a_diode() pin 2
                    wire down 100
                    branch:
                        wire right 200
                        add label("CONN-")
                        wire right 200
                    wire down 100
                    to gnd  

        frame:
            ..title = "Current sense for "+ sense_out
            ..border = 0
            ..padding = 0
        
            at label("SENSE+")
            wire right 300 
            add res(1k)
            wire right 100
            point tmp1

            branch:
                wire right 200
                to diff_amp pin 3

            at diff_amp:
                2:
                    wire right 100 up 100
                    to v3v3
                5:
                    wire right 100 down 100
                    to gnd
                1: 
                    wire right 200
                    branch:
                        wire up 500 left 200
                        add res(20k) pin 2
                        wire auto_
                        to tmp1

                    wire right 200
                    decoupling_cap(100n)
                    wire right 200
                    add label(sense_out)
                    wire right 200

            at label("SENSE-")
            wire right 300
            add res(1k)
            wire right 100
            
            branch:
                wire right 200
                to diff_amp pin 4

            wire down 100
            add res(20k)
            wire down 100 left 100
            to vbias

def pump_block_module2():
    return create module:
        ports:
            left: "GPIO", "ADC"
        contains:
            at port("GPIO", "input")
            wire right 100 down 100
            add res(10k)
            wire down 100 to gnd

            at port("ADC", "input")
            wire right 100 down 100
            add res(100k)
            wire down 100 to gnd


# define global nets
v12v = supply("12V")
v3v3 = supply("3V3")
v5v = supply("5V")
vbias = supply("Vbias")

gnd = dgnd()

document.sheet_type = sheet_A5()

modules = []

num_relays = 8

sheet:
    ..valign = "top"
    ..title = "Power connectors, DC-DC converters"
    
    if false:
        main()

    if false:
        frame:
            ..title = "Bias voltage for current measurement opamp"

            at v3v3
            wire down 100
            add res(10k)
            wire down 100
            branch:
                wire down 100
                add res(1k)
                wire down 100
                to gnd

            wire right 300 
            branch:
                wire down 100
                add cap(100n)
                wire down 100
                to gnd
            wire right 100 up 100
            to vbias

    main_conn1 = conn1x11()
    at main_conn1:
        3: tmp_label("GPIO1")


    if true:
        tmp = pump_block_module2()

        at label("GPIO1")
        wire right 300 to tmp pin "GPIO"

        at label("ADC1")
        wire right 300 to tmp pin "ADC"

    at label("GPIO1")
    wire down 100
    add res(20k)
    wire down 100 to gnd

    if false:
        tmp = pump_block_module(1)
    
        at label("GPIO1")
        wire right 300 to tmp pin "GPIO"

        at label("ADC1")
        wire right 300 to tmp pin "ADC"

        for i in range(0, num_relays):
            tmp =  pump_block_module(i + 1) 

            at label("GPIO" + (i+1))
            wire right 300 to tmp pin "GPIO"

            at label("ADC" + (i+1))
            wire right 300 to tmp pin "ADC"

            arrayPush(modules, tmp)

if true:
    sheet:
        at tmp.contains

if false:
    for i in range(0, num_relays/2):  
        sheet: 
            ..title = "Control for GPIO " + (i*2+1) + " and " + (i*2 + 2)

            # direct calling .contains does not work with the method
            tmp = arrayGet(modules, i*2)
            at tmp.contains

            tmp = arrayGet(modules, i*2 + 1)
            at tmp.contains