# Schematic for Arduino UNO

import lib

def fuse(value):
    return create component:
        pins: 2
        params:
            value: value

def esd(value):
    return create component:
        pins: 2

def ind(value):
    return create component:
        pins: 2
        params:
            value: value

def gnd_connect():
    return create component:
        pins: 2

def diode():
    return create component:
        pins: 2

def xtal(frequency):
    return create component:
        pins:
            1: "XT1"
            2: "XT2"
            3: "GND"
        arrange:
            right: 1,2
            left: 3
        params:
            frequency: frequency

def solder_bridge():
    return create component:
        pins: 2

gnd = dgnd()
v3v3 = supply("3V3")
v5v = supply("5V")

atmega = create component:
    pins:
        1: "XTAL1"
        2: "XTAL2"
        3: "GND"
        4:  "VCC"
        
        32: "AVCC"
        
        5:  "PC2"
        26: "PC4"
        25: "PC5"
        24: "PC6"
        22: "PC7"

        6:  "PD0"
        7:  "PD1"
        8:  "PD2"
        9:  "PD3"
        10: "PD4"
        11: "PD5"
        12: "PD6"
        13: "PD7"

        24: "RESET"

        14: "PB0"
        15: "PB1"
        16: "PB2"
        17: "PB3"
        18: "PB4"
        19: "PB5"
        20: "PB6"
        21: "PB7"

        28: "UGND"
        27: "UCAP"
        31: "UVCC"

        30: "D-"
        29: "D+"

        100: "EXP"

    width: 200
    arrange:
        left: 24, [2], 2, [2], 1, [6], 32, 4, 3, [5], 27, 31, 30, 29, 28, [2], 100
        right: 21,20,19,18,17,16,15,14, [2], 22,23,25,26,5, [2], 13,12,11,10,9,8,7,6


atmega8 = create component:
    pins:
        1: "RESET"
    
        7: "VCC"
        8: "GND"

        20: "AVCC"
        21: "AREF"
        22: "AGND"

        9: "XTAL1"
        10: "XTAL2"

        2: "PD0"
        3: "PD1"
        4: "PD2"
        5: "PD3"
        6: "PD4"
        11: "PD4"
        12: "PD6"
        13: "PD7"

        23: "PC0"
        24: "PC1"
        25: "PC2"
        26: "PC3"
        27: "PC4"
        28: "PC5"

        14: "PB0"
        15: "PB1"
        16: "PB2"
        17: "PB3"
        18: "PB4"
        19: "PB5"

    width: 200
    arrange:
        left: 1, [3], 10, [1], 9, [2], 21, 20, 22, [2], 7,8
        right: 19,18,17,16,15,14, [3], 28,27,26,25,24,23, [3], 13, 12, 11, 6,5,4,3,2

# Oscillator component
osc1 = xtal(16000000)
osc2 = xtal(16000000)
osc3 = xtal(16000000)

# ICSP connector
icsp_conn2 = create component:
    pins: 6
    arrange:
        left: 1,3,5
        right: 2,4,6

icsp_conn = create component:
    pins: 6
    arrange:
        left: 1,3,5
        right: 2,4,6

# USB connector
usb_conn = create component:
    pins:
        1: 1
        2: 2
        3: 3
        4: 4
        5: "SHIELD1"
        6: "SHIELD2"
    type: "conn"
    arrange:
        right: 1,2,3,4
        left: 5,6


iol_conn = create component:
    pins: 8
    arrange: 
        left: 8,7,6,5,4,3,2,1

ad_conn = create component:
    pins: 6
    type: "conn"
    arrange:
        left: 6,5,4,3,2,1

ioh_conn = create component:
    pins: 8
    type: "conn"
    arrange:
        left: 8,7,6,5,4,3,2,1

at atmega:
    32:
        wire left 40 
        branch:
            wire up 20
            to v5v
        wire down 20
        branch:
            wire auto 
            to atmega pin 4
        wire left 40 down 20
        add cap(100n)
        to gnd

    3:
        wire left 20 down 260
        branch:
            wire auto
            to atmega pin 100
        branch:
            wire down 40
            to gnd
        wire left 20
        
        add solder_bridge() pin 2
        wire left 20
        branch:
            wire auto
            to atmega pin 28
        wire left 60
        point tmp

    24:
        wire left 40
        branch:
            wire left 240 up 200 right 40
            to icsp_conn2 pin 5

        branch:
            at v5v
            wire down 20 left 20
            to icsp_conn2 pin 2
            point tmp4

        wire up 20
        add res(10k) ..angle=-90
        wire auto_
        to tmp4
    
    28:
        wire left 100
        add label("UGND")

    17:
        wire right 20
        add label("MISO2")
        wire right 60 up 200 left 640 auto
        to icsp_conn2 pin 1

    16:
        wire right 20
        add label("MOSI2")
        wire right 80 auto_
        to icsp_conn2 pin 4

    15:
        wire right 20
        add label("SCK2")
        wire right 100 up 260 left 660 auto
        to icsp_conn2 pin 3

        at icsp_conn2 pin 6
        wire right 20 down 20
        to gnd

    2:
        wire left 120
        branch:
            wire left 20
            to osc1 pin 1

        wire up 40 left 240 wire down 20
        add res(1M) ..angle=90
        point tmp5

        at osc1 pin 3
        wire left 20 down 20
        to gnd
    
    1:
        wire left 20
        add res(27) pin 2
        wire left 20

        branch:
            wire auto_
            to osc1 pin 2

        wire down 20 auto 
        to tmp5

    31:
        wire left 100
        add label("USBVCC")

        wire left 280 up 220 left 100
        add fuse(500m) pin 2
        wire left 100 down 40 left 60
        add label("XUSB")
        wire left 20
        to usb_conn pin 1
    
    30:
        wire left 100
        add label("RD-")

        wire left 300 up 180 left 40
        add res(22) pin 2
        wire left 20
        add label("D-")
        wire left 60
        branch:
            wire auto
            to usb_conn pin 2
            
        wire down 100
        add diode() ..angle=90
        wire down 20 left 80
        point tmp3

    29:
        wire left 100 
        add label("RD+")

        wire left 320 up 140 left 20
        add res(22) pin 2
        wire left 20
        add label("D+")

        wire left 20 up 40 
        wire left 120
        branch:
            wire auto
            to usb_conn pin 3
        wire down 80
        add diode() ..angle=90
        wire auto
        to tmp3

    27:
        wire left 100
        add label("VUCAP")
        wire left 160
        wire down 80
        add cap(1u)
        wire auto
        to tmp

at usb_conn:
    5:
        wire left 20 down 20
        branch:
            wire right 20 
            to usb_conn pin 6

        wire down 100
        add label("USHIELD") ..angle=90
        wire auto_
        to tmp3

        wire down 20
        add ind(1u) ..angle=90
        wire down 20
        point tmp2

    4:
        wire right 20 down 40
        add label("UGND") ..angle=90
        wire auto_
        to tmp2
        wire auto_
        to tmp


at atmega:
    8:
        wire right 100 down 220 right 600
        add res(1k)
        wire right 100 up 200 
        branch:
            wire left 40
            to atmega8 pin 3

        wire right 60
        to iol_conn pin 2
        
    9:
        wire right 120 down 200 right 580
        add res(1k)
        wire right 80 auto_
        to atmega8 pin 2

        wire right 100
        to iol_conn pin 1

    10:
        wire right 40
        add label("RXLED")
        wire right 100 down 100 right 60
        add led("yellow") pin 2 right
        wire right 20
        add res(1k)
        wire right 20 up 80 
        point tmp6
        wire up 20 
        to v5v

    11:
        wire right 40
        add label("TXLED")
        wire right 120 down 40 right 40
        add led("yellow") pin 2 right
        wire right 20
        add res(1k)
        wire auto 
        to tmp6

power_conn2 = create component:
    pins: 6
    arrange:
        left: 1,2,3,4,5,6


at power_conn2:
    2:
        wire left 60 up 80
        add v3v3
    3:
        wire left 100 up 100
        to v5v

    4: 
        wire left 20 down 20
        branch:
            wire right 20
            to power_conn2 pin 5
        wire left 60 down 40
        to gnd

    6:
        wire left 40
        add label("VIN")


at atmega8:

    1:
        wire left 160 
        branch:
            wire up 20
            add res(10k) pin 2 ..angle=90
            wire up 20
            to v5v
        branch:
            wire left 40 up 420 right 120
            to power_conn2 pin 1

            wire left 40
            add label("RESET")
        
        wire left 60
        branch:
            wire left 20
            add solder_bridge() pin 2
            point tmp7
        wire down 40 left 180
        branch:
            wire auto
            to tmp7

        wire down 20
        add cap(100n)
        wire down 200
        branch:
            wire right 20
            add solder_bridge()
            wire right 20 down 20 to gnd

        wire auto 
        to atmega pin 13

    7:
        wire left 40
        branch:
            wire auto to atmega8 pin 20
        wire left 40
        branch:
            wire up 20
            to v5v
        wire down 20
        add cap(100n)
        wire down 20
        to gnd
    8:
        wire left 20
        branch:
            wire auto to atmega8 pin 22
        wire down 60
        to gnd

    10:
        wire left 20 up 60 left 60
        branch:
            wire down 20
            add res(1M) ..angle=90
            wire down 20
            branch:
                wire right 60 auto
                to atmega8 pin 9
            wire left 60
            to osc2 pin 2
        wire left 40 auto
        to osc2 pin 1

        at osc2 pin 3
        wire left 20 down 20
        to gnd

    21:
        wire left 40
        add label("AREF")

    4:
        wire auto to iol_conn pin 3
    5:
        wire auto to iol_conn pin 4
    6:
        wire auto to iol_conn pin 5
    11: 
        wire auto to iol_conn pin 6
    12:
        wire auto to iol_conn pin 7
    13:
        wire auto to iol_conn pin 8

    23:
        wire right 100 to ad_conn pin 1
    24:
        wire auto to ad_conn pin 2
    25:
        wire auto to ad_conn pin 3
    26:
        wire auto to ad_conn pin 4
    27:
        wire auto to ad_conn pin 5
    28:
        wire auto to ad_conn pin 6

    14: 
        wire right 200 to ioh_conn pin 1
    15:
        wire auto to ioh_conn pin 2
    16:
        wire right 20
        add label("SS")
        wire auto to ioh_conn pin 3
    17: 
        wire right 60
        branch:
            wire auto to ioh_conn pin 4
        wire up 200 left 40
        to icsp_conn pin 4
        
    18:
        wire right 40
        branch:
            wire auto to ioh_conn pin 5

        wire up 100 left 200 auto
        to icsp_conn pin 1

    19:
        wire right 20
        branch:
            wire auto to ioh_conn pin 6
        wire up 60 left 160 auto
        to icsp_conn pin 3

at ioh_conn:
    7:
        wire left 80
        add label("GND")
    8:
        wire left 40
        branch:
            wire left 40
            add label("AREF")

        wire up 40
        add cap(100n) pin 2
        wire up 20 right 80 down 20
        to gnd

    6:
        wire left 80
        add label("SCK")
        wire left 20 up 200

        branch:
            wire up 20
            add res(1k) pin 2 ..angle=90
            wire up 20
            point tmp8
            wire up 20
            add diode() ..angle=-90
            wire up 40 right 40 down 20
            to gnd

        wire right 60 up 20
        add res(1k) pin 2 ..angle=90
        wire up 20 auto
        to tmp8

    5:
        wire left 80
        add label("MISO")
    4:
        wire left 80
        add label("MOSI")

reset_button = create component:
    pins: 5
    arrange:
        left: 1,2,5
        right: 3,4

at icsp_conn:
    6:
        wire right 20 down 20
        to gnd
    2:
        wire right 20 up 20
        to v5v

    5:
        wire left 140
        branch:
            wire auto_
            to atmega8 pin 1
        wire left 100 up 80
        branch:
            wire up 20 right 20
            to reset_button pin 1
        wire right 20
        to reset_button pin 2

        at reset_button pin 4
        wire right 20 up 20
        branch:
            wire left 20
            to reset_button pin 3
        wire up 40 right 40 down 20
        to gnd


# 3V3 output converter
dcdc_3v3 = create component:
    pins:
        1: "IN"
        2: "GND"
        3: "\EN"
        5: "OUT"
        4: "NC/FB"
    params:
        manufacturer_pn: "LP2985-33DBVR"
    arrange:
        left: 1,3,2
        right: 5, [1], 4

dcdc_5V = create component:
    pins:
        1: input, "ADJ"
        2: power, "VO"
        3: power, "VI"
    arrange:
        left: 3, 1
        right: 2
    params:
        manufacturer_pn: "MC33269D-5.0"

dcdc_5V_2 = create component:
    pins:
        1: power, "GND"
        2: power, "OUT"
        4: power, "OUT"
        3: power, "IN"
    arrange:
        left: 3, 1
        right: 4,2
    params:
        manufacturer_pn: "MC33269ST-5.0T3"

# Block for power
opamp_1 = create component:
    pins: 
        1: "OUT"
        2: "-"
        3: "+"
    arrange:
        left: 3,[1],2
        right: [1], 1
    width: 40
    param:
        manufacturer_pn: "LM358D"

fet = create component:
    pins: 3
    arrange:
        left: 1
        right: 2,3
    param:
        manufacturer_pn: "FDN304V"

frame: 
    ..title = "Supply generation"
    ..direction = "row"
        
    frame:
        ..title = "3V3 power"
            
        at label("VIN")
        wire right 40 down 20
        add res(10k) ..angle=90
        wire down 20
        branch:
            wire down 20
            add res(10k) ..angle=90
            to gnd
        wire right 80
        add label("CMP")
        wire right 20
        to opamp_1 pin 3

        at v3v3 left
        wire right 20
        to opamp_1 pin 2

        at label("USBVCC")
        wire right 40 to fet pin 1

        at opamp_1 pin 1
        wire right 80 down 100 left 20
        to fet pin 2

        at fet pin 3
        wire right 60
        branch:
            wire up 20
            to v5v
        wire right 60
        branch:
            wire right 20
            to dcdc_3v3 pin 1
        wire auto_
        to dcdc_3v3 pin 3

        at dcdc_3v3:
            2:
                wire left 20 down 20
                to gnd

            5:
                wire right 40
                branch:
                    wire up 20 
                    to v3v3
                wire down 20
                add cap(1u)
                to gnd
        

    frame:
        ..title = "5V power"

        # Block for 5V power
        power_conn = create component:
            pins: 3
            arrange:
                left: 1,3
                right: 2

        at power_conn:
            1:
                wire left 20 down 20
                branch:
                    wire auto
                    to power_conn pin 3
                wire down 20
                to gnd
            2:
                wire right 20
                add label("PWRIN")
                wire right 40
                add diode()
                wire right 40
                branch:
                    wire down 20
                    add cap(47u)
                    to gnd
                wire right 20
                point tmp10

        at dcdc_5V:
            1:
                wire left 20 down 20
                to gnd
            3:
                wire left 80
                to tmp10

                wire up 20
                branch:
                    wire right 20
                    add label("VIN")
                    wire right 40
                wire up 100 right 80
                to dcdc_5V_2 pin 3
            2:
                wire right 40
                point tmp11
                branch:
                    wire down 20
                    add cap(47u)
                    to gnd
                wire right 60
                branch:
                    wire down 20
                    add cap(100n)
                    to gnd
                wire right 20 up 20
                to v5v


        at dcdc_5V_2:
            1:
                wire left 20 down 20
                to gnd
            4:
                wire right 20 down 20
                branch:
                    wire auto 
                    to dcdc_5V_2 pin 2
                wire auto
                to tmp11

        frame:
            ..title = "5V indication"
            ..border = 0

            # Block for 5V leds
            at v5v
            wire down 20
            branch:
                wire right 20
                add res(1k)
                wire right 20
                point tmp9
                wire right 20

                add led("green")
                wire right 20 down 20
                to gnd

            wire down 40 right 20
            add res(1k)
            wire auto_
            to tmp9
