import lib

def decoupling_cap(value):
    wire down 20
    add cap(value)
    wire down 20
    to gnd

def conn1x4():
    return create component:
        pins: 4
        type: "conn"
        arrange:
            left: 1,2,3,4
        params:
            footprint: "Connector_PinHeader_2.54mm:PinHeader_1x04_P2.54mm_Vertical"

def conn1x11():
    return create component:
        pins: 11
        type: "conn"
        arrange:
            left: 1,2,3,4,5,6,7,8,9,10,11
        params:
            footprint: "Connector_PinSocket_2.54mm:PinSocket_1x11_P2.54mm_Vertical"

def conn1x2():
    return create component:
        pins: 2
        type: "conn"
        arrange:
            left: 1,2
        params:
            footprint: "Connector_PinSocket_2.54mm:PinSocket_1x02_P2.54mm_Vertical"

def conn1x5():
    return create component:
        pins: 5
        width: 40
        type: "conn"
        arrange:
            left: 1,2,3,4,5
        params:
            footprint: "Connector_PinHeader_2.54mm:PinHeader_1x05_P2.54mm_Vertical"

def power_conn():
    conn1 = conn1x4()
    at conn1:
        1: 
            wire left 20 up 20
            to v12v
        2:
            wire left 20
            branch:
                wire down 20 right 20
                to conn1 pin 3
            wire left 20 down 20
            to gnd
        4:
            wire down 40 left 20
            to v3v3
            ..angle = -90

    return conn1

def s1a_diode():
    width = 20
    height = 20

    # Diode is drawn horizontally
    #  -|>|-
    return create component:
        pins: 2
        type: "diode"
        display: create graphic:
            path: ("M", width/2, -height/2, "L", width/2, height/2,
                   "M", -width/2, -height/2, "L", -width/2, height/2,
                   "L", width/2, 0, "L", -width/2, -height/2)
            pin: 1, -width/2-20, 0, -width/2, 0     # anode
            pin: 2, width/2 + 20, 0, width/2, 0     # cathode
            label: "refdes", width/2 + 5, 5, "?", fontSize=10, anchor="left", vanchor="top"
        params:
            footprint: "GardenRelay:S1A"


def tmp_label(name):
    wire left 100
    add label(name)

def tmp_label_right(name):
    wire right 20
    add label(name)
    wire right 40

def tps54227_block(inductor_component, upper_fb_resistor, lower_fb_resistor, 
    enable_label, output_label, inductor_footprint, place=true):

    # the 3v3 supply
    tps54227 = create component:
        pins:
            1: input, "EN"
            2: input, "VFB"
            3: input, "VREGS"
            4: input, "SS"
            5: "GND"
            6: power, "SW"
            7: power, "SW2"
            8: any, "VBST"
            9: power, "VIN"
            10: power, "VIN2"
            11: any, "PwPd"
        type: "ic"
        arrange:
            left: 9, 10, 1, 3, 4
            right: 8, 6, 7, 2, 5, 11
        params:
            footprint: "GardenRelay:VSON-10-1EP_3x3mm_P0.5mm_EP1.65x2.4mm_ThermalVias"

    frame:
        ..title = "12V to " + output_label + " DCDC converter"

        at tps54227:
            1:
                wire left 20
                add res(10k) pin 2
                wire left 40
                add label(enable_label)
                wire left 20
                to v12v left

            9:
                wire left 20
                branch:
                    wire down 20 right 20
                    to tps54227 pin 10
                wire left 20 up 100 left 60
                branch:
                    decoupling_cap(100n, false)
                wire left 40
                branch:
                    decoupling_cap(10u)
                wire left 40
                branch:
                    decoupling_cap(10u)

                wire up 20
                to v12v

            3: 
                wire left 100 down 20
                decoupling_cap(1u)

            4:
                wire left 40
                decoupling_cap(3300p)
            
            5: 
                wire right 20 down 20
                branch:
                    wire left 20
                    to tps54227 pin 11
                wire down 20
                to gnd

            6:
                wire right 60
                branch:
                    wire down 20
                    wire left 60
                    to tps54227 pin 7
                wire right 40
                add inductor_component
                wire right 20
                branch:
                    wire down 20
                    add res(upper_fb_resistor) down
                    wire down 20
                    branch:
                        wire left 40
                        wire auto_
                        to tps54227 pin 2
                    wire down 20
                    point fb_point
                    wire down 20
                    add res(lower_fb_resistor) down
                    to gnd
                wire right 60
                branch:
                    wire down 20
                    add cap(10p)
                    ..place = false

                    wire auto
                    to fb_point
                wire right 60
                branch:
                    decoupling_cap(22u)
                wire right 60
                branch:
                    decoupling_cap(22u)
                wire right 40 up 20
                to supply(output_label)

            8:
                wire right 20
                add cap(100n)
                ..angle = -90
                wire right 20 down 20
                to tps54227 pin 6


    
def main():
    barrel_jack = create component:
        pins:
            1: power, "IN"
            2: power, "GND"
        type: "conn"
        arrange:
            right: 1,2
        params:
            footprint: "Connector_BarrelJack:BarrelJack_CUI_PJ-063AH_Horizontal_CircularHoles"

    frame:
        ..title = "Power connectors"
        ..direction = "row"

        at barrel_jack:
            1:
                wire right 20
                branch:
                    wire up 20
                    add v12v

                wire right 40
                branch:
                    decoupling_cap(10u)

                wire right 40
                branch:
                    decoupling_cap(10u)

                wire right 40
                branch:
                    decoupling_cap(10u)

            2:
                wire right 20 down 20
                to gnd

        # create power connectors
        J102 = power_conn()
        J108 = power_conn()

        J104 = conn1x4()

        at J104:
            1:
                wire left 20 up 20
                to supply("5V#")
            2:
                wire left 20
                branch:
                    wire down 20 right 20
                    to J104 pin 3
                wire left 20
                to v5v left
            4:
                wire left 20 down 20    
                to gnd

    ind_3u3 = ind(3.3u)
    ind_3u3.footprint = "GardenRelay:NR6020T3R3N"

    ind_4u7 = ind(4.7u)
    ind_4u7.footprint = "GardenRelay:NRS8030T4R7MJGJ"

    block1 = tps54227_block(ind_3u3, 73.2k, 22.1k, 
        "EN_3V3", "3V3", "GardenRelay:NR6020T3R3N")
    
    block2 = tps54227_block(ind_4u7, 124k, 22.1k, 
        "EN_5V", "5V#", "GardenRelay:NRS8030T4R7MJGJ")

    frame:
        ..title = "ESP32 board connector"
        ..direction = "column"

        frame:
            ..direction = "row"
            ..border = 0

            at conn1x2():
                1:
                    wire left 40 up 40
                    add v3v3
                2:
                    wire left 40
                    add label("EN")

            J105 = conn1x11()

            at J105:
                1: tmp_label("ADC1")
                2: tmp_label("ADC2")
                3: tmp_label("GPIO1")
                4: tmp_label("GPIO2")
                5: tmp_label("ADC3")
                6: tmp_label("GPIO3")
                7: tmp_label("ADC4")
                8: tmp_label("GPIO4")
                9: tmp_label("ADC8")
                10:
                    wire left 100 
                    to gnd left
                11: tmp_label("ADC7") 

            J106 = conn1x2()

            at J106:
                1: 
                    wire left 100 
                    to gnd left
                2: tmp_label("GPIO13")

            J107 = conn1x11()

            at J107:
                1: tmp_label("GPIO5")
                2: 
                    wire left 100 
                    to gnd left
                3: tmp_label("GPIO6")
                4: tmp_label("GPIO7")
                5: tmp_label("GPIO8")
                6: tmp_label("GPIO9")
                7: tmp_label("GPIO10")
                8: tmp_label("ADC5")
                9: tmp_label("ADC6")
                10: tmp_label("GPIO11")
                11: tmp_label("GPIO12")

        frame:
            ..border = 0
            
            J109 = conn1x4()
            at J109:
                1: tmp_label("GPIO11")
                2: tmp_label("GPIO12")
                3: tmp_label("GPIO13")
                4: 
                    wire left 40 
                    to v5v left

            J110 = conn1x4()
            at J110:
                1: tmp_label("GPIO10")
                2: tmp_label("GPIO9")
                3:
                    wire left 40 
                    to v3v3 left
                4: 
                    wire left 20 down 20
                    to gnd

def mosfet():
    return create component:
        pins: 3
        type: "transistor"
        arrange:
            left: 1
            right: 3,2
        params:
            footprint: "Package_TO_SOT_SMD:SOT-23"

def decoupling_cap(value, place=true):
    branch:
        wire down 20
        add cap(value)
        ..place = place
        wire down 20
        to gnd

def pump_block(enable_name, sense_out):
    relay = create component:
        pins: 5
        type: "relay"
        arrange:
            left: 2, [1], 5
            right: 4,3,1
        params:
            footprint: "GardenRelay:AZ943-1CH-12DEF"

    diff_amp = create component:
        pins: 
            1: "OUT"
            2: "V+"
            3: "+"
            4: "-"
            5: "V-"
        type: "ic"
        arrange:
            left: 3,[1], 4
            right: 2,1,5
        params:
            footprint: "Package_TO_SOT_SMD:SOT-23-5"

    frame:
        ..title = "Pump control block (" + enable_name + ")"
        ..direction = "row"
        
        frame:
            ..title = "Connector"
            ..border = 0
            ..padding = 0

            conn = conn1x5()
            at conn:
                1:
                    wire left 20 up 20
                    to v12v
                2: tmp_label("LOAD_SUPPLY")
                3: 
                    wire left 40
                    to v5v left
                4: tmp_label("CONN+")
                5: tmp_label("CONN-")

        frame:
            ..title = "Relay control for " + enable_name
            ..border = 0
            ..padding = 0

            at label(enable_name)
            wire right 40 
            branch:
                wire down 20
                add led("RED") down
                wire down 20
                add res(130) down
                wire down 20 to gnd
            wire right 40
            branch:
                wire down 20
                add res(1k) down
                wire down 20
                to gnd

            wire right 20
            add Q1 = mosfet()
            at Q1 pin 2 
            wire right 20 down 20
            to gnd

            at v12v
            wire down 20
            branch:
                wire right 80
                add relay pin 2
            wire down 20
            add s1a_diode() pin 2 down
            wire down 20
            branch:
                wire right 40
                wire auto
                to relay pin 5
            wire left 40 up 80 left 60
            to Q1 pin 3

            at relay:
                4:
                    wire right 20
                    branch:
                        wire up 100 right 140
                        add label("SENSE+")
                        wire right 60
                    wire right 20
                    add res(0.05)
                    wire right 20
                    branch:
                        wire up 80 right 20
                        add label("SENSE-")
                        wire right 60
                    wire right 20
                    add label("LOAD_SUPPLY")
                    wire right 80
                1:
                    wire right 20
                    branch:
                        wire right 40
                        add label("CONN+")
                        wire right 40
                    wire down 20
                    add s1a_diode() pin 2 down
                    wire down 20
                    branch:
                        wire right 40
                        add label("CONN-")
                        wire right 40
                    wire down 20
                    to gnd  

        frame:
            ..title = "Current sense for "+ sense_out
            ..border = 0
            ..padding = 0
        
            at label("SENSE+")
            wire right 40 
            add res(1k)
            wire right 20
            point tmp1

            branch:
                wire right 40
                to diff_amp pin 3

            at diff_amp:
                2:
                    wire right 20 up 20
                    to v3v3
                5:
                    wire right 20 down 20
                    to gnd
                1: 
                    wire right 40
                    branch:
                        wire up 100 left 40
                        add res(20k) pin 2
                        wire auto_
                        to tmp1

                    wire right 40
                    decoupling_cap(100n)
                    wire right 40
                    add label(sense_out)
                    wire right 40

            at label("SENSE-")
            wire right 40
            add res(1k)
            wire right 20
            
            branch:
                wire right 40
                to diff_amp pin 4

            wire down 20
            add res(20k) down
            wire down 20 left 20
            to supply("Vbias") left

# define global nets
v12v = supply("12V")
v3v3 = supply("3V3")
v5v = supply("5V")
gnd = dgnd()

main()

/pump1 pump_block("GPIO1", "ADC1")
/pump2 pump_block("GPIO2", "ADC2") 
/pump3 pump_block("GPIO3", "ADC3")
/pump4 pump_block("GPIO4", "ADC4")
/pump5 pump_block("GPIO5", "ADC5")
/pump6 pump_block("GPIO6", "ADC6")
/pump7 pump_block("GPIO7", "ADC7")
/pump8 pump_block("GPIO8", "ADC8")