# Schematic for Arduino UNO

import lib

def fuse(value):
    width = 140
    height = 60

    return create component:
        pins: 2
        type: "F"
        display: create graphic:
            rect: 0, 0, width, height
            hpin: 1, -width/2-30, 0, 30
            hpin: 2, width/2+30, 0, -30
            hline: -width/2, 0, width
            label: "refdes", -width/2, -height/2 - 20, "?"
            label: "value", -width/2, height/2 + 20, "?", fontSize=40, vanchor="top"
        params:
            value: value
            
def esd():
    width = 200
    height = 100

    return create component:
        pins: 2
        type: "Z"
        display: create graphic:
            fill: "none"
            triangle: -width/2, 0, 0, 0, 100
            triangle: width/2, 0, 0, 0, 100
            path: "M", 25, -height/2-25, "L", 0, -height/2, "L", 0, height/2, "L", -25, height/2+25
            pin: 1, -width/2 - 100, 0, -width/2, 0
            pin: 2, width/2+100, 0, width/2, 0
            label: "refdes", 0, -height/2 - 50, "?", anchor="middle"
            label: "mpn", 0, height/2 + 75, "PGB1010604", anchor="middle"

def gnd_connect():
    return create component:
        pins: 2

def xtal(frequency):
    width = 150
    height = 60

    tmp_y = height/2+70
    tmp_x = 80

    return create component:
        type: "X"
        pins: 3
        display: create graphic:
            rect: 0, 0, width, height
            hline: -width/2 - 20, -height/2-20, width + 40
            hline: -width/2 - 20, height/2+20, width + 40

            vline: 0, -height/2 - 20, -40
            vline: 0, height/2 + 20, 40

            hline: 0, -tmp_y, -tmp_x
            hline: 0, tmp_y, -tmp_x

            vline: -tmp_x, -tmp_y-30, 60
            vline: -tmp_x-20, -tmp_y-30, 60

            vline: -tmp_x, tmp_y-30, 60
            vline: -tmp_x-20, tmp_y-30, 60

            hline: -tmp_x-20, tmp_y, -100
            hline: -tmp_x-20, -tmp_y, -100

            vline: -tmp_x-120, -tmp_y, 200

            label: "refdes", width/2 + 50, -50, "?"
            label: "frequency", width/2 + 50, 50, "?"

            vpin: 1, 0, -200, 140
            vpin: 2, 0, 200, -140
            hpin: 3, -tmp_x-120-100, 0, 100

        params:
            frequency: frequency

def xtal_2(freq):
    # only have 2 pins
    width = 80
    height = 150

    return create component:
        type: "X"
        pins: 2
        display: create graphic:
            rect: 0, 0, width, height
            fill: "#333"
            rect: -width/2 - 20, 0, 10, height
            rect: width/2 + 20, 0, 10, height
            fill: "none"
            pin: 1, -width/2 - 110, 0, -width/2-25, 0
            pin: 2, width/2 + 110, 0, width/2+25, 0
            label: "refdes", 0, -height/2 - 20, "?", anchor="middle"
            label: "freq", 0, height/2 + 20, freq, vanchor="top", anchor="middle"
        params:
            freq: freq

def solder_bridge():
    width = 100
    height = 100
    
    return create component:
        type: "S"
        pins: 2
        display: create graphic:
            arc: -10, 0, width/2, 90, 270
            arc: 10, 0, width/2, 270, 90
            vline: 10, -height/2, height
            vline: -10, -height/2, height
            hpin: 1, -10-width/2-40, 0, 40
            hpin: 2, 10+width/2 + 40, 0, -40
            label: "refdes", 0, -height/2 - 20, "?", anchor="middle"

def reset_btn():
    return create component:
        pins: 5
        display: create graphic:
            lineWidth: 10
            hline: 0, 0, 100
            hline: 0, -200, 100
            vline: 100, -150, 100
            path: "M", 100, -100, "L", 200, -100, "L", 200, 0
            path: "M", -75, -150, "L", -100, -150, "L", -100, -50, "L", -75, -50
            hline: -100, -100, 15
            hline: -75, -100, 15
            hline: -50, -100, 15
            hline: -15, -100, 10
            path: "M", 0, 0, "L", -15, -150

            fill: "#333"
            circle: 0, 0, 2
            fill: "none"

            pin: 1, 0, 100, 0, 0
            pin: 2, 100, 100, 100, 0
            pin: 5, 200, 100, 200, 0
            pin: 3, 0, -300, 0, -200
            pin: 4, 100, -300, 100, -200

            label: "refdes", -180, -100, "?", anchor="middle"
            label: "mpn", -180, 0, "?", anchor="middle"


def conn3x2():
    width = 300
    height = 400

    return create component:
        pins: 6
        display: create graphic:
            rect: 0, 0, width, height
            hpin: 1, "1", -width/2 - 100, -100, 100
            hpin: 3, "3", -width/2 - 100, 0,    100
            hpin: 5, "5", -width/2 - 100, 100,  100
            
            hpin: 2, "2", width/2 + 100, -100,   -100
            hpin: 4, "4", width/2 + 100, 0,      -100
            hpin: 6, "6", width/2 + 100, 100,    -100
            
            label: "refdes", -width/2, -height/2 - 20, "?", fontSize=50, anchor="left", vanchor="bottom"

            circle: -50, -100, 40 
            circle: -50,  0,   40
            circle: -50,  100, 40 
            circle: 50, -100,  40 
            circle: 50,  0,    40
            circle: 50,  100,  40 

def usb_conn_():
    width = 200
    height = 500

    return create component:
        pins: 6
        display: create graphic:
            #rect: 0, 0, width, 100
            path: "M", -100, -200, "L", 100, -200, "L", 100, 300, "L", -100, 300

            label: "", 0, 75, "USB", anchor="middle", fontSize=80, angle=-90

            hpin: 1, width/2 + 100, -100, -100
            hpin: 2, width/2 + 100, 0, -100
            hpin: 3, width/2 + 100, 100, -100
            hpin: 4, width/2 + 100, 200, -100

            vpin: 5, -100, 300 + 100, -100
            vpin: 6, 0,   300 + 100, -100

def conn8():
    return create component:
        type: "conn"
        pins: 8
        display: create graphic:
            rect: 0, 350, 200, (8+1) * 100
            circle: 0, 0,   40
            circle: 0, 100, 40
            circle: 0, 200, 40
            circle: 0, 300, 40
            circle: 0, 400, 40
            circle: 0, 500, 40
            circle: 0, 600, 40
            circle: 0, 700, 40

            label: "refdes", -20, 6 * -20 - 5, "?"
            #label: "mpn", -20, 20 + 4, "?", vanchor="top"

            hpin: 1, -200, 0,   160
            hpin: 2, -200, 100, 160
            hpin: 3, -200, 200, 160
            hpin: 4, -200, 300, 160
            hpin: 5, -200, 400, 160
            hpin: 6, -200, 500, 160
            hpin: 7, -200, 600, 160
            hpin: 8, -200, 700, 160

def conn6():
    return create component:
        type: "conn"
        pins: 6
        display: create graphic:
            rect: 0, 2.5 * 100, 200, (6+1) * 100
            circle: 0, 0,   40
            circle: 0, 100, 40
            circle: 0, 200, 40
            circle: 0, 300, 40
            circle: 0, 400, 40
            circle: 0, 500, 40

            label: "refdes", -20, 6 * -20 - 5, "?"
            #label: "mpn", -20, 20 + 4, "?", vanchor="top"

            hpin: 1, -200, 0,   160
            hpin: 2, -200, 100, 160
            hpin: 3, -200, 200, 160
            hpin: 4, -200, 300, 160
            hpin: 5, -200, 400, 160
            hpin: 6, -200, 500, 160

def opamp():
    width = 200
    height = 200

    return create component:
        type: "ic"
        pins: 3
        params:
            manufacturer_pn: "LM358D"
        display: create graphic:
            triangle: -width/2, 0, width/2, 0, height
            hpin: 1, width/2 +  100, 0, -100
            hpin: 2, "-", -width/2 - 100, 50, 100
            hpin: 3, "+", -width/2 - 100, -50, 100
            label: "refdes", 0, -height/2, "?"
            label: "manufacturer_pn", 0, height/2, "?"


def fet_():
    return create component:
        pins: 3
        type: "T"
        display: create graphic:
            hline: -75, -25, 175
            fill: "#333"
            rect: 0, 0, 50, 15
            rect: 75, 0, 50, 15
            rect: -75, 0, 50, 15
            vline: 75, 0, 100
            vline: -75, 0, 100
            vline: 0, 0, 100
            triangle: 0, 75, 0, 100, 25
            hline: 0, 100, 100
            hline: -100, 100, 25
            path: "M", -100, 100, "L", -100, 150, "L", 100, 150, "L", 100, 100
            triangle: -12.5, 150, 12.5, 150, 25
            vline: 12.5, 150-20, 40

            label: "refdes", 0, -60, "?", anchor="middle"
            label: "manufacturer_pn", 0, 250, "?", anchor="middle"

            pin: 1, -200, 100, -100, 100
            pin: 2, 200, 100, 100, 100
            pin: 3, 100, -100, 100, -25
        params:
            manufacturer_pn: "FDN304V"

def reset_button_block():
    btn = reset_btn()
    btn.mpn = "TS42"

    wire up 100
    branch:
        wire up 100 
        to btn pin 1

    wire right 100 up 100
    to btn pin 2

    at btn pin 4
    wire up 100
    branch:
        wire auto_
        to btn pin 3
    wire right 100 to gnd


def ferrite(value):
    width = 140
    height = 60
 
    return create component:
        pins: 2
        display: create graphic:
            fill: "#000"
            rect: 0, 0, width, height
            hpin: 1, -width/2 - 30, 0, 30
            hpin: 2, width/2 + 30, 0, -30
            label: "refdes", -width/2, -height/2 - 20 , "?", fontSize=50, anchor="left"
            #label: "value", 0, 4, value, fontSize=30, anchor="middle", vanchor="middle"
        type: "ind"
        params:
            value: value
            size: "0402"
            footprint: "Resistor_SMD:R_0402_1005Metric"


gnd = dgnd()
v3v3 = supply("3V3")
v5v = supply("5V")

atmega = create component:
    type: "ic"
    pins:
        1: "XTAL1"
        2: "XTAL2"
        3: "GND"
        4:  "VCC"
        
        32: "AVCC"
        
        5:  "PC2"
        26: "PC4"
        25: "PC5"
        23: "PC6"
        22: "PC7"

        6:  "PD0"
        7:  "PD1"
        8:  "PD2"
        9:  "PD3"
        10: "PD4"
        11: "PD5"
        12: "PD6"
        13: "PD7"

        24: "RESET"

        14: "PB0"
        15: "PB1"
        16: "PB2"
        17: "PB3"
        18: "PB4"
        19: "PB5"
        20: "PB6"
        21: "PB7"

        28: "UGND"
        27: "UCAP"
        31: "UVCC"

        30: "D-"
        29: "D+"

        100: "EXP"

    width: 1000
    arrange:
        left: 24, [2], 2, [2], 1, [6], 32, 4, 3, [5], 27, 31, 30, 29, 28, [1], 100
        right: 21,20,19,18,17,16,15,14, [2], 22,23,25,26,5, [2], 13,12,11,10,9,8,7,6
    params:
        mpn: "ATMEGA8U2-MU"


atmega8 = create component:
    type: "ic"
    pins:
        1: "RESET"
    
        7: "VCC"
        8: "GND"

        20: "AVCC"
        21: "AREF"
        22: "AGND"

        9: "XTAL1"
        10: "XTAL2"

        2: "PD0"
        3: "PD1"
        4: "PD2"
        5: "PD3"
        6: "PD4"
        11: "PD4"
        12: "PD6"
        13: "PD7"

        23: "PC0"
        24: "PC1"
        25: "PC2"
        26: "PC3"
        27: "PC4"
        28: "PC5"

        14: "PB0"
        15: "PB1"
        16: "PB2"
        17: "PB3"
        18: "PB4"
        19: "PB5"

    width: 1000
    arrange:
        left: 1, [3], 10, [1], 9, [2], 21, 20, 22, [2], 7,8
        right: 19,18,17,16,15,14, [3], 28,27,26,25,24,23, [3], 13, 12, 11, 6,5,4,3,2
    params:
        mpn: "ATMEGA8"

# Oscillator component
osc1 = xtal("16MHz")
osc2 = xtal("16MHz")

iol_conn = conn8()
iol_conn.mpn = "IOL"

ioh_conn = conn8()
ioh_conn.mpn = "IOH"

ad_conn = conn6()
ad_conn.mpn = "AD"

power_conn2 = conn6()

# USB connector
usb_conn = usb_conn_()

# ICSP connector
icsp_conn2 = conn3x2()
icsp_conn = conn3x2()

at icsp_conn:
    6:
        wire right 100 down 100
        to gnd
    2:
        wire right 100 up 100
        to v5v

at icsp_conn2:
    6:
        wire right 100 down 100 to gnd

at usb_conn:
    1:
        wire right 100
        add label("XUSB")
        wire right 200 up 100 right 100
        
        add fuse(500m)
        wire right 100

        add label("USBVCC")
        wire right 500

    2:
        wire right 100
        add label("D-")
        wire right 400

        branch:
            wire right 200
            add res(22)
            wire right 100
            add label("RD-")

            wire right 200 down 1000 right 1000
            to atmega pin 30

            wire left 500
            add label("RD-")

        wire down 200
        add esd()
        wire down 200 left 300 
        point tmp1

        wire down 100
        point tmp2
        wire down 200
        add ferrite()
        wire down 100

        point tmp3

        wire right 500
        branch:
            wire up 200
            add cap(1u)
            wire auto
            to atmega pin 27

            wire left 500
            add label("VUCAP")

        wire right 500
        branch:
            wire auto
            to atmega pin 28

            wire left 500
            add label("UGND")

        wire right 100
        add solder_bridge()
        wire auto to atmega pin 100

        wire left 100 down 100
        to gnd


    3:
        wire right 100
        add label("D+")
        wire right 100
        branch:
            wire right 400 down 100 right 100
            add res(22)
            wire right 100
            add label("RD+")
            wire right 100 down 900
            wire auto
            to atmega pin 29

            wire left 500
            add label("RD+")

        wire down 100
        add esd()
        wire auto
        to tmp1

    6:
        wire down 100
        branch:
            wire auto 
            to pin 5
        wire auto_
        to tmp2

        wire left 300
        add label("USHIELD")

    4: 
        wire auto_
        to tmp3


at atmega:
    32:
        wire left 200
        branch:
            wire up 100
            to v5v
            
        wire down 100
        branch:
            wire right 100 auto
            to atmega pin 4
            
        wire left 200 down 100
        add cap(100n)
        wire down 100
        to gnd

    3:
        wire left 100 down 100
        to gnd

    24:
        wire left 100
        branch:
            wire left 600
            add label("RESET2")
            wire left 200 up 800 right 100
            to icsp_conn2 pin 5

        branch:
            wire up 100
            add res(10k)

            point:
                at v5v
                wire down 100
                branch:
                    wire left 200
                    to icsp_conn2 pin 2

                wire auto
                to point

    17:
        wire right 100
        add label("MISO2")
        wire right 300 up 800 left 2700 up 100 auto
        to icsp_conn2 pin 1

    16:
        wire right 100
        add label("MOSI2")
        wire right 400 auto_
        to icsp_conn2 pin 4

    15:
        wire right 100
        add label("SCK2")
        wire right 500 up 1100 left 2800 auto
        to icsp_conn2 pin 3

    2:
        wire left 500

        parallel:
            wire left 800 down 200
            add res(1M)
            wire down 200 right 800

        parallel:
            wire down 100
            add osc1
            point:
                at osc1 pin 3
                wire left 100 to gnd

                at point
                wire down 100

        wire right 100
        add res(27)
        wire right 100 auto
        to atmega pin 1

    31:
        wire left 500
        add label("USBVCC")
        
    11:
        at v5v
        wire down 100

        branch:
            wire left 100
            add res(1k)
            wire left 100
            add led("YELLOW")
            wire left 1000
            to atmega pin 11

        wire down 300 left 100
        add res(1k)
        wire left 100
        add led("YELLOW")
        wire left 200 auto_
        to atmega pin 10
    11:
        wire right 100
        add label("TXLED")
    10:
        wire right 100
        add label("RXLED")

    9:
        wire right 100
        add label("M8RXD")
        wire right 500 down 500 right 2000
        add res(1k)
        wire right 1000 up 300 left 100
        to atmega8 angle:0 pin 2

    8:
        wire right 100
        add label("M8TXD")
        wire right 400 down 500 right 2000 down 100 right 100
        add res(1k)
        wire right 100 up 100
        wire right 1000 auto_
        to atmega8 pin 3


at atmega8 angle:0:

    1:
        wire left 200

        branch:
            wire up 100
            add res(10k)
            wire up 100
            to v5v
        wire left 300
        add label("RESET")
        wire left 100

        branch:
            wire up 1900 right 1000
            to power_conn2 pin 1

            wire left 200
            add label("RESET")

        wire left 100
        parallel:
            wire up 200 left 100
            add solder_bridge()
            wire left 100 down 200
        parallel:
            wire left 400
        wire left 100
        add cap(100n)
        wire left 300 down 1900 
        
        branch:
            wire auto
            to atmega pin 13
        
        branch:
            wire right 100
            add solder_bridge()
            wire right 100 to gnd

    8:
        wire left 100

        branch:
            wire auto
            to atmega8 pin 22

        wire down 300 to gnd

    7:
        wire left 200
        
        branch:
            wire auto
            to atmega8 pin 20
        wire left 100

        branch:
            wire up 100
            to v5v
        wire left 200 down 100
        add cap(100n)
        wire down 100
        to gnd

    21:
        wire left 200
        add label("AREF")

    10:
        wire left 600 

        parallel:
            wire down 200
            add res(1M)
            wire down 200

            point tmp

        parallel:
            wire left 400 down 100
            add osc2

            at osc2 pin 3
            wire left 100
            to gnd

            at osc2 pin 2
            wire down 100
            wire auto 
            to tmp

        wire right 200
        wire auto 
        to atmega8 pin 9

    2:
        add label("IO0")
        wire right 500
        to iol_conn pin 8      
    3:
        add label("IO1")
        wire auto
        to iol_conn pin 7
    4: 
        add label("IO2")
        wire auto
        to iol_conn pin 6
    5: 
        add label("IO3")
        wire auto 
        to iol_conn pin 5
    6:
        add label("IO4")
        wire auto
        to iol_conn pin 4
    11:
        add label("IO5")
        wire auto
        to iol_conn pin 3
    12:
        add label("IO6")
        wire auto
        to iol_conn pin 2
    13:
        add label("IO7")
        wire auto
        to iol_conn pin 1
        
    23:
        add label("AD0")
        wire right 500
        to ad_conn pin 6
    24:
        add label("AD1")
        wire auto
        to ad_conn pin 5
    25:
        add label("AD2")
        wire auto
        to ad_conn pin 4
    26:
        add label("AD3")
        wire auto
        to ad_conn pin 3
    27:
        add label("AD4")
        wire auto
        to ad_conn pin 2
    28:
        add label("AD5")
        wire auto
        to ad_conn pin 1

    14:
        add label("IO8")
        wire right 1400
        to ioh_conn pin 8
    15:
        add label("IO9")
        wire auto
        to ioh_conn pin 7

    16:
        add label("SS")
        wire auto
        to ioh_conn pin 6

    17:
        branch:
            wire auto
            to ioh_conn pin 5
        wire right 400 up 1000 left 300
        to icsp_conn pin 4

    18:
        branch:
            wire auto
            to ioh_conn pin 4
        wire right 100 up 300 left 700 auto
        to icsp_conn pin 1

    19:
        branch:
            wire auto
            to ioh_conn pin 3
        branch:
            wire right 200 up 300 left 700 auto
            to icsp_conn pin 3
        
        wire right 600 up 200
        parallel:
            wire up 100
            add res(1k)
            wire up 100
        parallel:
            wire right 200 up 100
            add res(1k)
            wire up 100
            wire auto
        wire up 100
        add led("YELLOW")
        wire up 100
        to gnd


    1:
        wire up 300 right 100
        branch:
            reset_button_block()
        wire right 300 up 100 auto
        to icsp_conn pin 5



at ioh_conn:
    1:
        wire left 200
        branch:
            wire up 100
            add cap(100n)
            wire up 100
            to gnd
        wire left 200
        add label("AREF")
    2:
        wire left 400
        add label("GND")

    3:
        wire left 100
        add label("SCK")
    4:
        wire left 100
        add label("MISO")
    5:
        wire left 100
        add label("MOSI")

at power_conn2:
    2:
        wire left 200
        add label("+3V3")
    3:
        wire left 300 up 300
        to v5v

    4:
        wire left 300 down 100
        branch:
            wire auto
            to power_conn2 pin 5
        wire down 100
        to gnd
    6:
        wire left 200
        add label("VIN")


# 3V3 output converter
dcdc_3v3 = create component:
    type: "ic"
    pins:
        1: "IN"
        2: "GND"
        3: "\EN"
        5: "OUT"
        4: "NC/FB"
    params:
        manufacturer_pn: "LP2985-33DBVR"
    arrange:
        left: 1,3,2
        right: 5, [1], 4

dcdc_5V = create component:
    type: "ic"
    pins:
        1: input, "ADJ"
        2: power, "VO"
        3: power, "VI"
    arrange:
        left: 3, 1
        right: 2
    params:
        manufacturer_pn: "MC33269D-5.0"

dcdc_5V_2 = create component:
    type: "ic"
    pins:
        1: power, "GND"
        2: power, "OUT"
        4: power, "OUT"
        3: power, "IN"
    arrange:
        left: 3, 1
        right: 4,2
    params:
        manufacturer_pn: "MC33269ST-5.0T3"

# Block for power
opamp_1 = opamp()
fet = fet_()

frame: 
    ..title = "Supply generation"
    ..direction = "row"
        
    frame:
        ..title = "3V3 power"
            
        at label("VIN")
        wire right 200 down 100
        add res(10k)
        wire down 100
        branch:
            wire down 100
            add res(10k)
            wire down 100
            to gnd

        wire right 300
        add label("CMP")
        wire right 100
        to opamp_1 pin 3

        at v3v3
        wire right 100
        to opamp_1 pin 2

        at label("USBVCC")
        wire right 400 to fet pin 1

        at opamp_1 pin 1
        add label("GATE_CMD")
        wire right 100 down 300
        to fet pin 3

        at fet pin 2
        wire right 100
        branch:
            wire up 100
            to v5v
        wire right 100
        branch:
            wire right 100
            to dcdc_3v3 pin 1
        wire auto_
        to dcdc_3v3 pin 3

        at dcdc_3v3:
            2:
                wire left 100 down 200
                to gnd

            5:
                wire right 200
                branch:
                    wire up 100
                    to v3v3
                wire down 100
                add cap(1u)
                wire down 100
                to gnd
        

    frame:
        ..title = "5V power"

        # Block for 5V power
        power_conn = create component:
            type: "conn"
            pins: 3
            display: create graphic:
                rect: 0, 0, 400, 200
                pin: 1, -100, 200, -100, 100
                pin: 2, 100, 200, 100, 100
                pin: 3, 300, 0, 200, 0
                label: "refdes", -200, -100 - 10, "?"

        at power_conn:
            1:
                wire down 100
                branch:
                    wire auto_
                    to pin 3
                wire down 100
                to gnd
            2:
                wire right 100
                add label("PWRIN")
                wire right 200
                add diode()
                wire right 100
                branch:
                    wire down 100
                    add cap(47u)
                    wire down 100 to gnd
                wire right 100
                point:
                    at dcdc_5V pin 3
                    wire left 400
                    to point

                    wire up 100
                    branch:
                        wire left 200
                        add label("VIN")
                    wire up 500 right 400
                    to dcdc_5V_2 pin 3

        at dcdc_5V:
            1:
                wire left 100 down 100
                to gnd
            2:
                wire right 100
                point:
                    at dcdc_5V_2 pin 4
                    wire right 100 down 100
                    branch:
                        wire auto 
                        to dcdc_5V_2 pin 2
                    wire auto
                    to point

                wire right 100

                branch:
                    wire down 100
                    add cap(47u)
                    wire down 100 to gnd
                wire right 300
                branch:
                    wire down 100
                    add cap(100n)
                    wire down 100 to gnd
                wire up 100
                to v5v


        at dcdc_5V_2 pin 1
        wire left 100 down 100
        to gnd      

        frame:
            ..title = "5V indication"
            ..border = 0

            # Block for 5V leds
            at v5v
            wire down 100

            parallel:
                wire right 100
                add res(1k)
                wire right 100
            parallel:
                wire down 200 right 100
                add res(1k)
                wire auto_

            wire right 100

            add led("green")
            wire right 100 down 100
            to gnd

def osc_block(frequency, net1, net2):
    xtal = xtal_2(frequency)

    join:
        at xtal pin 1
        wire left 200
        add label(net1)
        wire left 100 down 100
        add cap(22p)
        wire down 100
    
    join:
        at xtal pin 2 
        wire right 100
        add label(net2) 
        wire right 100 down 100
        add cap(22p)
        wire auto

    wire down 100
    to gnd

frame:
    ..title = "Alternative XTALs"
    ..direction = "row"

    osc_block("16MHz", "XT2", "XT1")
    osc_block("16MHz", "XTAL2", "XTAL1")
