# This example demonstrates named pins

def I2C_child_chip():
    return create component:
        pins: 
            1: power, "VCC", "3V3"
            2: power, "GND"
            3: input, "I2C_SCL", "IO1", "XTAL1"
            4: io,    "I2C_SDA", "IO2", "XTAL2"
        arrange:
            left: 1,2
            right: 3,4

def net(net_name):
    return create component:
        pins: 1
        params:
            __is_net: 1
            net_name: net_name
            priority: 5

def res(value):
    return create component:
        pins: 2
        params:
            value: value

def cap(value):
    return create component:
        pins: 2
        params:
            value: value

# by default everything goes into the default section
V5V = net("5V")
U1 = I2C_child_chip()
at V5V to U1 pin "VCC"

at U1 pin "GND" to gnd
at U1 pin 3 add res(4k) to V5V
at U1 pin 4 add res(4k) to V5V
