def net(net_name):
    return create component:
        pins: 1
        display: create graphic:
            hline: -15, 0, 30
            pin: 1, 0, 0, 0, 10
            label: "net_name", 0, -5, net_name, fontSize=10, anchor="middle"
        type: "net"
        params:
            __is_net: 1
            net_name: net_name
            priority: 10

def power(net_name):
    return create component:
        pins: 1
        display: create graphic:
            hline: -15, 0, 30
            pin: 1, 0, 0, 0, 10
            label: "net_name", 0, -5, net_name, fontSize=10, anchor="middle"

        type: "net"
        params:
            __is_net: 1
            net_name: net_name
            priority: 20

def label(value):
    return create component:
        pins: 1
        display: create graphic:
            label: "value", 0, -2, fontSize=10, anchor="left"
            pin: 1, 0, 0, 0, 0
        type: "label"
        params:
            __is_net: 1
            net_name: value
            value: value
            priority: 5

def res(value):
    width = 40
    height = 20
 
    return create component:
        pins: 2
        display: create graphic:
            rect: 0, 0, width, height
            pin: 1, -width / 2, 0, -width/2 - 20, 0
            pin: 2, width/2, 0, width/2 + 20, 0
            label: ("value", 0, 0, value, fontSize=10, anchor="middle", vanchor="middle")
            label: ("refdes", -width/2, -height/2 -5 , "?", fontSize=10, anchor="left")

        type: "res"
        params:
            value: value
            size: "0402"
            footprint: "Resistor_SMD:R_0402_1005Metric"

def cap(value):
    width = 20
    height = 40

    return create component:
        pins: 2
        display: create graphic:
            hline: -width/2, -3, width
            hline: -width/2, 3, width
            pin: 1, 0, -3, 0, -height/2
            pin: 2, 0, 3, 0, height/2
            label: "refdes", width/2+2, 0, "?", fontSize = 10, anchor="left"
            label: "value", width/2+2, 12, value, fontSize = 10, anchor = "left", vanchor="top"
        type: "cap"
        params:
            value: value
            size: "0402"
            footprint: "Capacitor_SMD:C_0402_1005Metric"

def ind(value):
    return create component:
        pins: 2
        type: "ind"
        params:
            value: value

def diode():
    return create component:
        pins: 2
        type: "diode"
        display: "diode"

def led(color):
    return create component:
        pins:   
            1: "cathode"
            2: "anode"
        display: "led"
        type: "diode"
        params:
            size: "0603"
            footprint: "LED_SMD:LED_0603_1608Metric_Pad1.05x0.95mm_HandSolder"