def net(net_name):
    return create component:
        pins: 1
        display: "net"
        type: "net"
        params:
            __is_net: 1
            net_name: net_name
            priority: 10

def power(net_name):
    return create component:
        pins: 1
        display: "net"
        type: "net"
        params:
            __is_net: 1
            net_name: net_name
            priority: 20

def label(value):
    return create component:
        pins: 1
        display: "label"
        type: "label"
        params:
            __is_net: 1
            net_name: value
            value: value
            priority: 5

def res(value):
    return create component:
        pins: 2
        display: "res"
        type: "res"
        params:
            value: value
            size: "0402"
            footprint: "Resistor_SMD:R_0402_1005Metric"

def cap(value):
    return create component:
        pins: 2
        display: "cap"
        type: "cap"
        params:
            value: value
            size: "0402"
            footprint: "Capacitor_SMD:C_0402_1005Metric"

def ind(value):
    return create component:
        pins: 2
        type: "ind"
        params:
            value: value

def diode():
    return create component:
        pins: 2
        type: "diode"
        display: "diode"

def led(color):
    return create component:
        pins:   
            1: "cathode"
            2: "anode"
        display: "led"
        type: "diode"
        params:
            size: "0603"
            footprint: "LED_SMD:LED_0603_1608Metric_Pad1.05x0.95mm_HandSolder"