import std
gnd = dgnd("XGND")

# Test functions
def power_input():
    return create component:
        pins: 
            1: input, "1"
            2: any, "2"
            3: input, "3"
        arrange:
            left: 1,3
            right: 2


J1 = power_input()

at J1 pin 1
wire left 100 down 100

branch:
    wire right 100
    to J1 pin 3

wire down 100
to gnd