from "std" import *
vcc = supply("VCC")
gnd = dgnd()

src1 = create component:
    pins: 
        1: "1", "power_output"

src2 = create component:
    pins: 
        1: "1", "power_output"

gnd_ref = create component:
    pins:
        1: "1", "power_reference"

at gnd_ref
wire down 100
to gnd

at vcc
wire right 100
branch:
    wire right 100
    to src1
wire down 100
to src2
