from "std" import *

vcc = supply("VCC")
gnd = dgnd()

driver = create component:
    pins: 
        1: "1", "power_out"

gnd_ref = create component:
    pins: 
        1: "1", "power_ref"

at gnd_ref
wire down 100
to gnd

at vcc
wire right 100
to driver
