bridge1 = create component:
    pins:
        1: "1", "passive"
        2: "2", "passive"
    erc_net_bridge: true
    copy: true

drv1 = create component:
    pins:
        1: "1", "out"

recv1 = create component:
    pins:
        1: "1", "input"

at drv1
wire right 100
add bridge1
wire right 100
to recv1
