from "std" import *

vcc = supply("VCC")

src1 = create component:
    pins: 
        1: "1", "power_out"

src2 = create component:
    pins: 
        1: "1", "power_out"

gnd_ref = create component:
    pins: 
        1: "1", "power_ref"

gnd = dgnd()
at gnd_ref
wire down 100
to gnd

at vcc
wire right 100
branch:
    wire right 100
    to src1
wire down 100
to src2
