from "std" import *

vcc_a = supply("VCC")
vcc_b = supply("3V3")

gnd_ref = create component:
    pins: 
        1: "1", "power_ref"

at vcc_a
wire right 100
branch:
    wire down 100
    to gnd_ref
wire right 200
to vcc_b
