drv1 = create component:
    pins:
        1: "1", "out"

bridge1 = create component:
    pins:
        1: "1", "passive"
        2: "2", "passive"
    erc_net_bridge: true

at drv1
wire right 100
to bridge1 pin 1
