from "std" import *

vcc = supply("VCC")

src1 = create component:
    pins: 1
    display: create graphic:
        hpin: 1, "1", "power_output", -100, 0, 100, display_id=false

src2 = create component:
    pins: 1
    display: create graphic:
        hpin: 1, "1", "power_output", -100, 0, 100, display_id=false

gnd_ref = create component:
    pins: 1
    display: create graphic:
        vpin: 1, "1", "power_reference", 0, -50, 50, display_id=false

gnd = dgnd()
at gnd_ref
wire down 100
to gnd

at vcc
wire right 100
branch:
    wire right 100
    to src1
wire right 100 down 100
to src2
