from "std" import *

vcc = supply("VCC")

ic = create component:
    pins: 1
    display: create graphic:
        hpin: 1, "power_input", -100, 0, 100, display_id=false

at vcc
wire right 200
to ic pin 1
