from "std" import *

gnd = dgnd()

drv = create component:
    pins:
        1: "out", "output"

consumer = create component:
    pins:
        1: "pwr", "power_input"

at drv
wire right 100
branch:
    wire right 100
    to consumer

wire down 100
to gnd