U1 = create component:
    pins: 10

U2 = create component:
    pins: 10

at U1: 
    2:
        wire right 200 
        to U2 pin 1

at U1 pin 10
wire right 180 up 40

branch:
    wire auto
    to U2 pin 5

wire auto
to U2 pin 3