# Circuitscript default lib

def net(net_name):
    return create component:
        pins: 1
        copy: true
        angle: -90
        display: create graphic:
            hline: -50, 0, 100
            vpin: 1, 0, 50, -50, display_pin_id=false
            label: "net_name", 0, -15, net_name, fontSize=50, anchor="middle"
        type: "net"
        params:
            net_name: net_name
            priority: 10

def supply(net_name):
    return create component:
        pins: 1
        copy: true
        angle: -90
        display: create graphic:
            hline: -50, 0, 100
            vpin: 1, 0, 50, -50, display_pin_id=false
            label: "net_name", 0, -15, net_name, fontSize=50, anchor="middle"
        type: "net"
        params:
            net_name: net_name
            priority: 20

def label(value, anchor="left"):
    return create component:
        pins: 1
        copy: true
        followWireOrientation: false
        display: create graphic:
            textColor: "#222"
            label: "value", 0, -10, "?", fontSize=50, anchor=anchor
            pin: 1, 0, 0, 0, 0, display_pin_id=false
        type: "label"
        params:
            net_name: value
            value: value
            priority: 5

def port(value, portType="input"):
    return create component:
        pins: 1
        copy: true
        display: create graphic:
            textColor: "#222"
            label: "value", 0, 0, "?", fontSize=40, anchor="left", vanchor="middle", portType=portType
            pin: 1, 0, 0, 0, 0, display_pin_id=false
        type: "port"
        params:
            net_name: value
            value: value
            priority: 5

def res(value):
    width = 140
    height = 60
 
    return create component:
        pins: 2
        display: create graphic:
            rect: 0, 0, width, height
            hpin: 1, -width/2 - 30, 0, 30
            hpin: 2, width/2 + 30, 0, -30
            label: "refdes", -width/2, -height/2 - 20 , "?", fontSize=50, anchor="left"
            label: "value", 0, 4, value, fontSize=30, anchor="middle", vanchor="middle"
        type: "res"
        params:
            value: value
            size: "0402"
            footprint: "Resistor_SMD:R_0402_1005Metric"

def cap(value):
    width = 120
    height = 40

    return create component:
        pins: 2
        angle: 90
        display: create graphic:
            lineWidth: 13
            hline: -width/2, 20, width
            hline: -width/2, -20, width
            vpin: 1, 0, -100, 80
            vpin: 2, 0, 100, -80
            label: "refdes", 80, -30, "?", fontSize=50, anchor="left", vanchor="middle"
            label: "value", 80, 30, value, fontSize=50, anchor = "left", vanchor="middle"
        type: "cap"
        params:
            value: value
            size: "0402"
            footprint: "Capacitor_SMD:C_0402_1005Metric"

def ind(value):
    width = 40
    height = 20

    return create component:
        pins: 2
        type: "ind"
        display: create graphic:
            arc: -15, 0, 5, 180, 360
            arc: -5, 0, 5, 180, 360
            arc: 5, 0, 5, 180, 360
            arc: 15, 0, 5, 180, 360
            hpin: 1, -width/2 - 20, 0, 20
            hpin: 2, width/2 + 20, 0, -20
            label: ("refdes", -width/2, -height/2 -5 , "?", fontSize=50, anchor="left")
            label: ("value", 0, 10, value, fontSize=50, anchor="middle", vanchor="middle")
        params:
            value: value

def diode():
    width = 100
    height = 100

    # Diode is drawn horizontally
    #  -|>|-
    return create component:
        pins: 2
        type: "diode"
        display: create graphic:
            triangle: -width/2, 0, width/2, 0, height
            vline: width/2, -height/2, height
            hpin: 1, -width/2-100, 0, 100    # anode
            hpin: 2, width/2 + 100, 0, -100  # cathode
            label: "refdes", 0, -100, "?", fontSize=50, anchor="middle", vanchor="top"

def led(color):
    width = 100
    height = 100

    return create component:
        pins:   
            1: "cathode"
            2: "anode"
        type: "diode"
        display: create graphic:
            triangle: -width/2, 0, width/2, 0, height
            vline: width/2, -height/2, height
            path: ("M", 70, 30, "L", 130, 90,
                    "M", 130, 60, "L", 130, 90, "L", 100, 90)
            path: ("M", 120, 30, "L", 180, 90,
                    "M", 180, 60, "L", 180, 90, "L", 150, 90)
            hpin: 1, -width/2-100, 0, 100    # anode
            hpin: 2, width/2 + 100, 0, -100  # cathode
            label: "refdes", 0, -100, "?", fontSize=50, anchor="middle", vanchor="top"
            label: "color", 0, 100, color, fontSize=40, anchor="middle", vanchor="bottom"
        params:
            size: "0603"
            footprint: "LED_SMD:LED_0603_1608Metric_Pad1.05x0.95mm_HandSolder"


def cgnd():
    net_name = "gnd"
    return create component:
        pins: 1
        copy: true
        angle: 90
        display: create graphic:
            hline: -15, 0, 30
            hline: -10, 5, 20
            hline: -5, 10, 10
            vpin: 1, 0, -10, 10, display_pin_id=false
            label: "net_name", 0, 22, net_name, fontSize=50, anchor="middle"
        type: "net"
        params:
            net_name: net_name
            priority: 100

def dgnd(net_name="GND"):
    height = 50
    width = 100

    return create component:
        pins: 1
        copy: true
        angle: 90
        display: create graphic:
            triangle: 0, 0, 0, height, width
            vpin: 1, 0, -50, 50, display_pin_id=false
            label: "net_name", 0, height + 50, net_name, fontSize=50, anchor="middle", vanchor="middle"
        type: "net"
        params:
            net_name: net_name
            priority: 100

def text(value, offsetX = 0, offsetY = 0, fontSize = 50):
    return create component:
        pins: 1
        followWireOrientation: false
        display: create graphic:
            pin: 1, 0, 0, 0, 0, display_pin_id=false
            text:
                content: value
                offset: offsetX, offsetY
                fontSize: fontSize

# Drawing markers

def marker_point():
    return create component:
        pins: 1
        display: create graphic:
            hline: -5, 0, 10
            vline: 0, -5, 10
            pin: 1, 0, 0, 0, 0, display_pin_id=false

def arrow_point():
    return create component:
        pins: 1
        followWireOrientation: false
        display: create graphic:
            lineWidth: 2
            path: ("M", -10, -5, "L", -5, 0, "L", -10, 5)
            path: ("M", -5, 0, "L", -20, 0)
            hpin: 1, 0, 0, 0, display_pin_id=false

def frame_generator(paper_size_name, paper_width, paper_height, margin_x, margin_y):
    inner_frame_margin = 50
    return create component:
        type: "frame"
        display: create graphic:
            fill: "none"

            # outer rect 
            lineColor: "#cccccc"
            rect: paper_width/2, paper_height/2, paper_width, paper_height

            # inner rect
            lineColor: "#111111"
            rect: paper_width/2, paper_height/2, paper_width - 2 * margin_x, paper_height - 2 * margin_y

            rect: (paper_width/2, paper_height/2, 
                    paper_width - 2 * margin_x + inner_frame_margin * 2, 
                    paper_height - 2 * margin_y  + inner_frame_margin * 2)

        params:
            paper_size: paper_size_name
            paper_width: paper_width
            paper_height: paper_height
            
            offset_x: margin_x
            offset_y: margin_y
            
            grid_width: paper_width - 2 * margin_x
            grid_height: paper_height - 2 * margin_y


def frame_A4 ():
    paper_width = 297 / 25.4 * 1000
    paper_height = 210 / 25.4 * 1000
    margin_x = 400
    margin_y = 400

    inner_frame_margin = 50

    horizontal_1 = margin_x - inner_frame_margin
    horizontal_2 = paper_width - margin_x + inner_frame_margin

    vertical_1 = margin_y - inner_frame_margin
    vertical_2 = paper_height - margin_y + inner_frame_margin

    tmp_height = paper_height - margin_y * 2 + inner_frame_margin * 2
    tmp_y = margin_y - inner_frame_margin

    tmp_width = paper_width - margin_x * 2 + inner_frame_margin * 2
    tmp_x = margin_x - inner_frame_margin

    fontSize = 30

    ratio_x = 0.16667
    ratio_y = 0.25

    return create component:
        type: "frame"
        display: create graphic:
            fill: "none"

            # outer rect 
            lineColor: "#cccccc"
            rect: paper_width/2, paper_height/2, paper_width, paper_height

            # inner rect
            lineColor: "#111111"
            rect: paper_width/2, paper_height/2, paper_width - 2 * margin_x, paper_height - 2 * margin_y

            rect: (paper_width/2, paper_height/2, 
                    paper_width - 2 * margin_x + inner_frame_margin * 2, 
                    paper_height - 2 * margin_y  + inner_frame_margin * 2)

            hline: horizontal_1, (tmp_y + tmp_height * ratio_y), inner_frame_margin
            hline: horizontal_1, (tmp_y + tmp_height * ratio_y * 2), inner_frame_margin
            hline: horizontal_1, (tmp_y + tmp_height * ratio_y * 3), inner_frame_margin

            hline: horizontal_2, (tmp_y + tmp_height * ratio_y), -inner_frame_margin
            hline: horizontal_2, (tmp_y + tmp_height * ratio_y * 2), -inner_frame_margin
            hline: horizontal_2, (tmp_y + tmp_height * ratio_y * 3), -inner_frame_margin

            vline: (tmp_x + tmp_width * ratio_x),     vertical_1, inner_frame_margin
            vline: (tmp_x + tmp_width * ratio_x * 2), vertical_1, inner_frame_margin
            vline: (tmp_x + tmp_width * ratio_x * 3), vertical_1, inner_frame_margin
            vline: (tmp_x + tmp_width * ratio_x * 4), vertical_1, inner_frame_margin
            vline: (tmp_x + tmp_width * ratio_x * 5), vertical_1, inner_frame_margin

            vline: (tmp_x + tmp_width * ratio_x),     vertical_2, -inner_frame_margin
            vline: (tmp_x + tmp_width * ratio_x * 2), vertical_2, -inner_frame_margin
            vline: (tmp_x + tmp_width * ratio_x * 3), vertical_2, -inner_frame_margin
            vline: (tmp_x + tmp_width * ratio_x * 4), vertical_2, -inner_frame_margin
            vline: (tmp_x + tmp_width * ratio_x * 5), vertical_2, -inner_frame_margin

            # labels on the columns
            text: 
                content: "1"
                offset: tmp_x + tmp_width * ratio_x * 0.5, tmp_y + inner_frame_margin * 0.5 + 2
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "1"
                offset: tmp_x + tmp_width * ratio_x * 0.5, tmp_y + tmp_height - inner_frame_margin * 0.5 + 2
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "2"
                offset: tmp_x + tmp_width * ratio_x * 1.5, tmp_y + inner_frame_margin * 0.5 + 2
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "2"
                offset: tmp_x + tmp_width * ratio_x * 1.5, tmp_y + tmp_height - inner_frame_margin * 0.5 + 2
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "3"
                offset: tmp_x + tmp_width * ratio_x * 2.5, tmp_y + inner_frame_margin * 0.5 + 2
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "3"
                offset: tmp_x + tmp_width * ratio_x * 2.5, tmp_y + tmp_height - inner_frame_margin * 0.5 + 2
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "4"
                offset: tmp_x + tmp_width * ratio_x * 3.5, tmp_y + inner_frame_margin * 0.5 + 2
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "4"
                offset: tmp_x + tmp_width * ratio_x * 3.5, tmp_y + tmp_height - inner_frame_margin * 0.5 + 2
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"
        
            text: 
                content: "5"
                offset: tmp_x + tmp_width * ratio_x * 4.5, tmp_y + inner_frame_margin * 0.5 + 2
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "5"
                offset: tmp_x + tmp_width * ratio_x * 4.5, tmp_y + tmp_height - inner_frame_margin * 0.5 + 2
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "6"
                offset: tmp_x + tmp_width * ratio_x * 5.5, tmp_y + inner_frame_margin * 0.5 + 2
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "6"
                offset: tmp_x + tmp_width * ratio_x * 5.5, tmp_y + tmp_height - inner_frame_margin * 0.5 + 2
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            # labels on the rows
            text: 
                content: "A"
                offset: tmp_x + inner_frame_margin * 0.5, tmp_y + tmp_height * ratio_y * 0.5
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "A"
                offset: tmp_x + tmp_width - inner_frame_margin * 0.5, tmp_y + tmp_height * ratio_y * 0.5
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "B"
                offset: tmp_x + inner_frame_margin * 0.5, tmp_y + tmp_height * ratio_y * 1.5
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "B"
                offset: tmp_x + tmp_width - inner_frame_margin * 0.5, tmp_y + tmp_height * ratio_y * 1.5
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "C"
                offset: tmp_x + inner_frame_margin * 0.5, tmp_y + tmp_height * ratio_y * 2.5
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "C"
                offset: tmp_x + tmp_width - inner_frame_margin * 0.5, tmp_y + tmp_height * ratio_y * 2.5
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "D"
                offset: tmp_x + inner_frame_margin * 0.5, tmp_y + tmp_height * ratio_y * 3.5
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

            text: 
                content: "D"
                offset: tmp_x + tmp_width - inner_frame_margin * 0.5, tmp_y + tmp_height * ratio_y * 3.5
                fontSize: fontSize
                anchor: "middle"
                vanchor: "middle"

        params:
            paper_size: "A4"
            paper_width: paper_width
            paper_height: paper_height
            
            offset_x: margin_x
            offset_y: margin_y
            
            grid_width: paper_width - 2 * margin_x
            grid_height: paper_height - 2 * margin_y


def frame_generator(paper_size_name, paper_width, paper_height, margin_x, margin_y, inner_frame_margin = 50):
    return create component:
        type: "frame"
        display: create graphic:
            fill: "none"

            # outer rect 
            lineColor: "#cccccc"
            rect: paper_width/2, paper_height/2, paper_width, paper_height

            # inner rect
            lineColor: "#111111"
            rect: paper_width/2, paper_height/2, paper_width - 2 * margin_x, paper_height - 2 * margin_y

            rect: (paper_width/2, paper_height/2, 
                    paper_width - 2 * margin_x + inner_frame_margin * 2, 
                    paper_height - 2 * margin_y  + inner_frame_margin * 2)

        params:
            paper_size: paper_size_name
            paper_width: paper_width
            paper_height: paper_height
            
            offset_x: margin_x
            offset_y: margin_y
            
            grid_width: paper_width - 2 * margin_x
            grid_height: paper_height - 2 * margin_y

def frame_A6():
    paper_width = 148 / 25.4 * 1000
    paper_height = 105 / 25.4 * 1000
    margin = 400

    return frame_generator("A6", paper_width, paper_height, margin, margin, 20)