# Circuitscript default lib

def net(net_name):
    return create component:
        pins: 1
        copy: true
        angle: -90
        display: create graphic:
            hline: -50, 0, 100
            vpin: 1, 0, 50, -50, display_pin_id=false
            label: "net_name", 0, -15, net_name, fontSize=50, anchor="middle"
        type: "net"
        params:
            net_name: net_name
            priority: 10

def supply(net_name):
    return create component:
        pins: 1
        copy: true
        angle: -90
        display: create graphic:
            hline: -50, 0, 100
            vpin: 1, 0, 50, -50, display_pin_id=false
            label: "net_name", 0, -15, net_name, fontSize=50, anchor="middle"
        type: "net"
        params:
            net_name: net_name
            priority: 20

def label(value, anchor="left"):
    return create component:
        pins: 1
        copy: true
        followWireOrientation: false
        display: create graphic:
            textColor: "#222"
            label: "value", 0, -10, "?", fontSize=50, anchor=anchor
            pin: 1, 0, 0, 0, 0, display_pin_id=false
        type: "label"
        params:
            net_name: value
            value: value
            priority: 5

def port(value, portType="input"):
    return create component:
        pins: 1
        copy: true
        display: create graphic:
            textColor: "#222"
            label: "value", 0, 0, "?", fontSize=40, anchor="left", vanchor="middle", portType=portType
            pin: 1, 0, 0, 0, 0, display_pin_id=false
        type: "port"
        params:
            net_name: value
            value: value
            priority: 5

def res(value):
    width = 140
    height = 60
 
    return create component:
        pins: 2
        display: create graphic:
            rect: 0, 0, width, height
            hpin: 1, -width/2 - 30, 0, 30
            hpin: 2, width/2 + 30, 0, -30
            label: "refdes", -width/2, -height/2 - 20 , "?", fontSize=50, anchor="left"
            label: "value", 0, 4, value, fontSize=30, anchor="middle", vanchor="middle"
        type: "res"
        params:
            value: value
            size: "0402"
            footprint: "Resistor_SMD:R_0402_1005Metric"

def cap(value):
    width = 120
    height = 40

    return create component:
        pins: 2
        angle: 90
        display: create graphic:
            lineWidth: 13
            hline: -width/2, 20, width
            hline: -width/2, -20, width
            vpin: 1, 0, -100, 80
            vpin: 2, 0, 100, -80
            label: "refdes", 80, -30, "?", fontSize=50, anchor="left", vanchor="middle"
            label: "value", 80, 30, value, fontSize=50, anchor = "left", vanchor="middle"
        type: "cap"
        params:
            value: value
            size: "0402"
            footprint: "Capacitor_SMD:C_0402_1005Metric"

def ind(value):
    width = 40
    height = 20

    return create component:
        pins: 2
        type: "ind"
        display: create graphic:
            arc: -15, 0, 5, 180, 360
            arc: -5, 0, 5, 180, 360
            arc: 5, 0, 5, 180, 360
            arc: 15, 0, 5, 180, 360
            hpin: 1, -width/2 - 20, 0, 20
            hpin: 2, width/2 + 20, 0, -20
            label: ("refdes", -width/2, -height/2 -5 , "?", fontSize=50, anchor="left")
            label: ("value", 0, 10, value, fontSize=50, anchor="middle", vanchor="middle")
        params:
            value: value

def diode():
    width = 100
    height = 100

    # Diode is drawn horizontally
    #  -|>|-
    return create component:
        pins: 2
        type: "diode"
        display: create graphic:
            triangle: -width/2, 0, width/2, 0, height
            vline: width/2, -height/2, height
            hpin: 1, -width/2-100, 0, 100    # anode
            hpin: 2, width/2 + 100, 0, -100  # cathode
            label: "refdes", 0, -100, "?", fontSize=50, anchor="middle", vanchor="top"

def led(color):
    width = 100
    height = 100

    return create component:
        pins:   
            1: "cathode"
            2: "anode"
        type: "diode"
        display: create graphic:
            triangle: -width/2, 0, width/2, 0, height
            vline: width/2, -height/2, height
            path: ("M", 70, 30, "L", 130, 90,
                    "M", 130, 60, "L", 130, 90, "L", 100, 90)
            path: ("M", 120, 30, "L", 180, 90,
                    "M", 180, 60, "L", 180, 90, "L", 150, 90)
            hpin: 1, -width/2-100, 0, 100    # anode
            hpin: 2, width/2 + 100, 0, -100  # cathode
            label: "refdes", 0, -100, "?", fontSize=50, anchor="middle", vanchor="top"
            label: "color", 0, 100, color, fontSize=40, anchor="middle", vanchor="bottom"
        params:
            size: "0603"
            footprint: "LED_SMD:LED_0603_1608Metric_Pad1.05x0.95mm_HandSolder"


def cgnd():
    net_name = "gnd"
    return create component:
        pins: 1
        copy: true
        angle: 90
        display: create graphic:
            hline: -15, 0, 30
            hline: -10, 5, 20
            hline: -5, 10, 10
            vpin: 1, 0, -10, 10, display_pin_id=false
            label: "net_name", 0, 22, net_name, fontSize=50, anchor="middle"
        type: "net"
        params:
            net_name: net_name
            priority: 100

def dgnd(net_name="GND"):
    height = 50
    width = 100

    return create component:
        pins: 1
        copy: true
        angle: 90
        display: create graphic:
            triangle: 0, 0, 0, height, width
            vpin: 1, 0, -50, 50, display_pin_id=false
            label: "net_name", 0, height + 50, net_name, fontSize=50, anchor="middle", vanchor="middle"
        type: "net"
        params:
            net_name: net_name
            priority: 100

def text(value, offsetX = 0, offsetY = 0, fontSize = 50):
    return create component:
        pins: 1
        followWireOrientation: false
        display: create graphic:
            pin: 1, 0, 0, 0, 0, display_pin_id=false
            text:
                content: value
                offset: offsetX, offsetY
                fontSize: fontSize

# Drawing markers

def marker_point():
    return create component:
        pins: 1
        display: create graphic:
            hline: -5, 0, 10
            vline: 0, -5, 10
            pin: 1, 0, 0, 0, 0, display_pin_id=false

def arrow_point():
    return create component:
        pins: 1
        followWireOrientation: false
        display: create graphic:
            lineWidth: 2
            path: ("M", -10, -5, "L", -5, 0, "L", -10, 5)
            path: ("M", -5, 0, "L", -20, 0)
            hpin: 1, 0, 0, 0, display_pin_id=false
