def cmp():
    return create component:
        pins: 8
        arrange:
            top: 1,2
            right: 3,4
            bottom: 5,6
            left: 7,8

at cmp()

at cmp()
..flipX = 1

at cmp()
..flipY = 1

at cmp() flip:xy

at cmp() flip:xy
..angle = 90