# Test graphical path commands for "m" and "l"

def arrow_point():
    arrow_size = 30
    return create component:
        pins: 1
        follow_wire_orientation: false
        display: create graphic(params):
            line_width: 5
            path: "M", params.offset_x, params.offset_y, \
                  "m", -arrow_size, -arrow_size,         \
                  "l", arrow_size, arrow_size,           \
                  "l", -arrow_size, arrow_size,          \
                  "M", params.offset_x, params.offset_y, \
                  "l", -100, 0
            hpin: 1, "1", "unspecified", 0, 0, 0, pin_only=true
        params:
            offset_x: 0
            offset_y: 0


at arrow_point()