from "std" import *

def solder_bridge():
    width = 100
    height = 100
    
    return create component:
        type: "S"
        pins: 2
        display: create graphic (params):
            arc: -10, 0, width/2, 90, 270
            arc: 10, 0, width/2, 270, 90
            vline: 10, -height/2, height
            vline: -10, -height/2, height
            hpin: 1, -10-width/2-40, 0, 40
            hpin: 2, 10+width/2 + 40, 0, -40
            label: params.refdes, 0, -height/2 - 20, anchor="middle"


vcc = supply("VCC")
gnd = dgnd()

at vcc
wire down 100 

branch:
    wire left 200
    
    branch:
        wire left 100
        add solder_bridge()
        wire left 100
        to gnd

    branch:
        wire up 100
        add solder_bridge()
        wire up 100
        to gnd

branch:
    wire down 100
    add solder_bridge()
    wire down 100
    to gnd

branch:
    wire right 100
    add solder_bridge()
    wire right 100
    to gnd