import std

vcc = supply("VCC")
gnd = dgnd()

at vcc
wire down 100
branch:
    wire down 100
    add cap(100n)
    wire down 100
    to gnd

branch:
    wire left 100
    add cap(100n)
    wire left 100 down 100
    to gnd

wire right 500
branch:
    wire right 100
    add cap(100n)
    wire right 100 down 100
    to gnd

wire up 100
add cap(100n)
wire up 100
to vcc