from "std" import *

document.grid_color = "red"

v5 = supply("5V")
v5.net.color = "red"
v5.net.highlight = "red"
v5.net.highlight_width = 20

gnd = dgnd()

at v5
wire down 100
add cap(100n)
wire down 100
to gnd