# Test bus creation and nets linking through buses

def label(value, anchor="left"):
    return create component:
        pins: 1
        copy: true
        follow_wire_orientation: false
        display: create graphic (params):
            text_color: "#222"
            label: params.value, 0, -10, name="value", font_size=50, \
                anchor=anchor
            pin: 1, "1", "passive", 0, 0, 0, 0, pin_only=true
        type: "net"
        is_label: true
        params:
            net_name: value
            value: value
            priority: 5

def spi():
    return create bus:
        name: "SPI"
        pins: "MOSI", "MISO", "CLK", "NSS"

def spi_variant2():
    return create bus:
        name: "SPI"
        pins: "CLK", "NSS", "MOSI", "MISO"

def spi_block():
    return create component:
        type: "ic"
        pins:
            1: "SPI_MOSI"
            2: "SPI_MISO"
            3: "SPI_CLK"
            4: "SPI_NSS"
            5: "VCC"
            6: "GND"
        width: 500
        arrange:
            left: 1,2,3,4
            right: 5,6

spi_main = spi_block()
spi_target = spi_block()
spi_target2 = spi_block()
spi_target3 = create component:
    type: "ic"
    pins:
        1: "SPI_CLK"
        2: "SPI_NSS"
        3: "SPI_MOSI"
        4: "SPI_MISO"
        5: "VCC"
        6: "GND"
    width: 500
    arrange:
        left: 1,2,3,4
        right: 5,6

at spi1 = spi():
    "MOSI": wire left 300 to spi_main pin "SPI_MOSI"
    "MISO": wire left 300 to spi_main pin "SPI_MISO"
    "CLK":  wire left 300 to spi_main pin "SPI_CLK"
    "NSS":  wire left 300 to spi_main pin "SPI_NSS"

at spi2 = spi():
    "MOSI": wire right 300 to spi_target pin "SPI_MOSI"
    "MISO": wire right 300 to spi_target pin "SPI_MISO"
    "CLK":  wire right 300 to spi_target pin "SPI_CLK"
    "NSS":  wire right 300 to spi_target pin "SPI_NSS"

at spi3 = spi():
    "MOSI": wire right 300 to spi_target2 pin "SPI_MOSI"
    "MISO": wire right 300 to spi_target2 pin "SPI_MISO"
    "CLK":  wire right 300 to spi_target2 pin "SPI_CLK"
    "NSS":  wire right 300 to spi_target2 pin "SPI_NSS"

at spi4 = spi_variant2():
    "CLK":  wire right 300 to spi_target3 pin "SPI_CLK"
    "NSS":  wire right 300 to spi_target3 pin "SPI_NSS"
    "MOSI": wire right 300 to spi_target3 pin "SPI_MOSI"
    "MISO": wire right 300 to spi_target3 pin "SPI_MISO"

at spi1
wire right 300
branch:
    wire right 200
    to spi2

wire down 700
branch:
    wire right 200
    to spi3

wire down 700 right 200
to spi4


at spi_main pin 1
add label("SPI_MOSI")
..net.color = "blue"
..net.highlight = "blue"
..net.highlight_width = 20


at spi_main pin "SPI_NSS"
add label("SPI_NSS")
..net.color = "red"
..net.highlight_width = 20