# Test multiple pin ids/keys in the at command block.

from "std" import *

at tmp = create component:
    pins: 10
    arrange:
        right: 1,2,3,4,5,6,7,8,9,10

a = 10
at tmp:
    1,2,3,4,5: 
        add no_connect()
        wire right 100
        add res(a)
        a += 20