# Check refdes that is generated correctly at the top-level 
# within loop structures and functions.

from "std" import *

v5 = supply("5V")
gnd = dgnd()

tmp = create component:
    pins: 3

at v5
wire down 100
add res(1k) #= R3

wire down 100

def tmp2(j):
    branch:
        wire right (200 * j) down 100
        add res(5k) #= R1_
        wire down 100

        to gnd

def tmp(i):
    branch:
        wire right (800 * i) down 100
        add res(20k) #= R13_
        wire down 100

        branch:
            wire left 200 down 200
            add res(33k) #= R23_
            wire down 100
            to gnd

        wire down 100
        for j in range(0, 3):
            tmp2(j)           

tmp(0)
tmp(1)
tmp(2)
tmp(3)
tmp(4)