# Test refdes generation is correct for at blocks.
from "std" import *

v5 = supply("5V")
gnd = dgnd()

tmp = create component:
    pins: 
        1: "A", "passive"
        2: "B", "passive"
        3: "C", "passive"
        4: "D", "passive"
        5: "E", "passive"
        6: "F", "passive"
    arrange:
        left: 1,2,3
        right: 4,5,6

at v5
wire down 100 right 100
to tmp pin 1

at tmp:
    "A":
        wire left 300 down 100
        branch:
            wire down 100
            add res(10k)
            wire down 100
            to gnd
            
        branch:
            wire left 300 down 100
            add res(10k)
            wire down 100
            to gnd

at tmp:
    "E":
        wire right 300 down 100
        add cap(100n)
        wire down 100
        to gnd

    "F": 
        wire right 100 down 100
        to gnd 