from "std" import *

vcc = supply("VCC")
gnd = dgnd()

frame:
    ..border = 0
    ..direction = "row"

    frame:
        at vcc
        wire down 100

        add text(
"This is some text!
Something else is here?
Or now
More lines              and spaces?
line 1
line2", 200, 100, fontSize=50)

        wire down 100
        to gnd

    frame:
        at vcc
        wire down 100
        add text(
            "Hello world", 100
        )

        wire down 100
        to gnd