from "std" import *

vcc = supply("VCC")
gnd = dgnd()

tmp = create module:
    width: 1000
    height: 700
    ports:
        left:  [1], "signal_a", "signal_c"
        right: [1], "signal_d"
        top:    [3], "signal_b"
        bottom: [3], "signal_e"

    contains:
        at port("signal_a") flip:x
        wire right 100 down 100
        add res(1k)
        
        wire down 100

        branch:
            wire right 100
            add port("signal_e", "output")

        wire down 100
        add res(2k)
        
        wire down 100 right 100
        to port("signal_c", "any")

        at port("signal_b", "io")
        wire right 100
        add res(3k)
        wire right 100
        to port("signal_d", "io")

at vcc
wire down 100 right 300
to tmp pin "signal_a"

at tmp pin "signal_c"
wire left 300 down 100
to gnd

at tmp pin "signal_e"
wire down 100
add res(5k)
wire down 100
to gnd

at label("input")
wire right 300 down 100
to tmp pin "signal_b"

at tmp pin "signal_d"
wire right 200
add label("output")
wire right 100

at tmp.contains