from "std" import *

v5v = supply("5v")
gnd = dgnd()

tmp = create component:
        pins: 6

tmp2  = create component:
        pins: 12

at tmp2:
    12:
        wire right 100 down 100 to gnd

at tmp:
    3:
        wire left 300
        branch:
            wire auto_
            to tmp pin 5

        wire left 200 down 200
        to gnd
    1:
        wire left 300 up 1000 right 300
        to tmp2 pin 1
