# Test string and number Pin Ids for create component

tmp = create component:
    pins:
        A2: "A2"
        A1: "A1"

        B1: "B1"
        B2: "B2"
        
        C1: "C1"
        C2: "C2"

        Z1: "Z1"
        Z2: "Z2"

        AA1: "AA1"
        BB2: "BB2"
    
    arrange:
        left:  "A1", "B1", "C1", "Z1", "AA1"
        right: "A2", "B2", "C2", "Z2", "BB2"

at tmp pin "Z2"
wire left 100 down 100

wire auto
to tmp pin "BB2"

at tmp pin "C1"
wire right 500
branch:
    wire down 100
    wire auto
    to pin "AA1"
    
wire up 100
wire auto_
to pin "A1"