from std import *

def res_2(value):
    width = 140
    height = 60
 
    return create component:
        pins: 2
        display: create graphic (params):
            crect: 0, 0, width, height
            hline: 0, -100, 100
            vline: 0, 100, 100
            line: 0, 0, 100, 100
            pin: 1, -width / 2 - 20, 0, -width/2, 0
            pin: 2, width/2 + 20, 0, width/2, 0
            label: (params.value, 0, 4, fontSize=30, anchor="middle", vanchor="middle")
            label: (params.refdes, -width/2, -height/2 - 20 , fontSize=50, anchor="left")

        type: "res"
        params:
            value: value
            size: "0402"
            footprint: "Resistor_SMD:R_0402_1005Metric"

def componentA():
    width = 200
    height = 200

    return create component:
        pins: 3
        display: create graphic (params):
            crect: 0, 0, width, height
            label: params.refdes, -width/2, -height/2 - 10

            hpin: 1, -width/2 - 100, 0, 100
            hpin: 2, width/2 + 100, 0, -100
            vpin: 3, 0, height/2 + 100, -100

v5v = supply("5v")
gnd = dgnd()

at v5v
wire down 100 right 100
add res_2(10k)
wire right 100

to a = componentA()

at a:
    2:
        wire right 100 down 100
        to gnd
    3:
        wire down 100 to gnd