from "std" import *

v5 = supply("5V")
gnd = dgnd()

tmp = create component:
    unit:
        pins:
            1: "passive", "A"
            2: "passive", "B"
            3: "passive", "C"
        arrange:
            left: 1,2,3
    unit:
        pins: 
            4: "passive", "D1"
            5: "passive", "D2"
            6: "passive", "D3"
        arrange:
            left: 4,5, [2]
            bottom: 6

at tmp pin 1
wire right 300 
to tmp pin 4

at tmp pin 2
wire right 100 down 300
add cap (100n)
to gnd

at tmp pin "D3"
wire down 100
to gnd