# Test that brackets in properties and drawing commands are handled properly.

tmp = create component:
    pins: 6
    arrange:
        left: (1,2, 
            3)
        right: (
                4,
                5,
                6)

tmp2 = create component: 
    pins: 2
    display: create graphic (params):
        hpin: 1, -200, -50, 100
        hpin: 2, -200, 50, 100
        label: params.refdes, 0, 0
        crect: (0, 0, 
            200, 
            300)

at tmp
at tmp2