from "std" import *

def tp():
    return create component:
        angle: 0
        pins:
            1: "TP"

vcc = supply("VCC")
gnd = dgnd()

at vcc
wire down 100
add res(10k)
wire down 100

branch:
    wire left 100
    add tp()

wire down 100

add res(10k)

wire down 100
to gnd