import lib

variant = "MainVariantX"

at net("5V")
wire down 20
branch:
    wire down 20
    add res(10k) ..angle = 90
    ..place = (variant == "MainVariant")
    wire down 20 to gnd

wire right 40
branch:
    wire down 20
    add res(20k) ..angle = 90
    ..place = true
    wire down 20
    to gnd

wire right 40
branch:
    wire down 20
    add cap(100n)
    wire down 20
    to gnd

wire right 40
point tmp1

tmp = create component:
    pins: 6
    arrange:
        left: 1,2,3
        right: 6,5,4

at tmp:
    1:
        to tmp1
    4:
        wire right 20 down 20
        to gnd

    5:
        wire right 60 down 20
        add res(10k) 
        ..angle = 90 
        ..place = false

        wire down 20
        to gnd

at net("3V")
wire down 20
add res(20k) ..angle=90
wire down 20
to gnd