def cmp():
    width = 20
    height = 20 * (7 + 1) + 20

    return create component:
        pins: 7
        type: "conn"
        display: create graphic:
            rect -width/2, height/2, width, height
            hpin 1, "", -width-20, 20,  20
            hpin 2, "", -width-20, 40,  20
            hpin 3, "", -width-20, 60,  20
            hpin 4, "", -width-20, 80,  20
            hpin 5, "", -width-20, 100, 20
            hpin 6, "", -width-20, 120, 20
            hpin 7, "", -width-20, 140, 20
            label "refdes", -width, -5, "?"

            # use a blank label to check for errors in render
            label "random", -width, -15, ""

at cmp() pin 2
wire left 60

to cmp() flip:x pin 2 

at pin 3
wire right 20 down 140 left 180 up 20

to cmp() flip:xy angle:90 pin 5