import lib

v5v = supply("5V")
gnd = dgnd()

# example with join keyword
join:
    at v5v
    wire down 100
    add res(10k)
    wire down 100

join:
    at v5v
    wire down 100
    add res(10k)
    wire down 100 left 300

join:
    at v5v
    wire down 100
    add res(10k)
    wire down 100
    add res(10k)
    wire down 100 left 600

wire down 100
to gnd