import lib

variant = "MainVariantX"
gnd = dgnd()

at net("5V")
wire down 100
branch:
    wire down 100
    add res(10k) ..angle = 90
    ..place = (variant == "MainVariant")
    wire down 100 to gnd

wire right 200
branch:
    wire down 100
    add res(20k) ..angle = 90
    ..place = true
    wire down 100
    to gnd

wire right 200
branch:
    wire down 100
    add cap(100n)
    wire down 100
    to gnd

wire right 200
point tmp1

tmp = create component:
    pins: 
        1: power, "1"
        2: power, "2"
        3: input, "3"
        4: output, "4"
        5: input, "5"
        6: output, "6"
    arrange:
        left: 1,2,3
        right: 6,5,4

at tmp:
    1:
        to tmp1
    4:
        wire right 100 down 100
        to gnd

    5:
        wire right 300 down 100
        add res(10k) 
        ..angle = 90 
        ..place = false

        wire down 100
        to gnd

at net("3V")
wire down 100
add res(20k) ..angle=90
wire down 100
to gnd