from std import *

def my_shared_lib_circuit(gnd):
    wire down 100
    branch:
        wire right 300 down 100
        add res(10k)
        wire down 100
        to gnd

    wire down 100
    add res(20k)
    wire down 100
    to gnd